[2017-04-20 11:56] sebastienbeau opened #14 "Generating automatic API documentation for Shopinvader"
# Context

For a better security I have introduced the concept of validator for the services exposed to the controller.
See an example here : https://github.com/akretion/shopinvader/blob/8.0/shopinvader/services/cart.py#L79

This validator are based on cerberus doc here : http://docs.python-cerberus.org/en/stable
It will be great to generate an automatic documentation based on this validator as th

[2017-04-20 12:01] sebastienbeau opened #15 "Refactoring export"
For now we use locomotive as a database and also for storing the static file (image, pdf..)
We have to change it and export everything in algolia or in a cdn. For the algolia part we will depend of https://github.com/akretion/connector-nosql and for file we will depend of https://github.com/akretion/storage
So we will need to adapt shopinvader to :
- [x] export image url instead of exporting image

[2017-04-20 12:08] sebastienbeau opened #16 "Step in cart"
Step in the cart should be just a data that should be used by the front in order to know which step have been fill and also in the backend to know where the customer have abandoned the cart

For now for storing the "cart" state we use a mix of sale_sub_state and cart_state. But this is not the right way to do it. We need to add a based module that just add the concept of order "typology" that can

[2017-04-20 12:13] sebastienbeau opened #17 "Finish the connection with locomotive"
The code for the connection is not clean at all and should be refactored and maybe extracted in a lib.
See the code in the adapter here : https://github.com/akretion/shopinvader/blob/8.0/connector_locomotivecms/unit/adapter.py

[2017-04-20 12:15] sebastienbeau opened #18 "Product URL"
The module product_url is useless and most of the code have been duplicated in shopinvader. (url must depend of a backend, and so must be store on the binding)
Not sure we can share a lot a code with other project, so maybe the best is to remove it

[2017-04-20 12:17] sebastienbeau opened #19 "Refactoring product_media"
The aim is to refactor the module and to be based on this new module: https://github.com/akretion/storage

[2017-04-25 18:53] sebastienbeau opened #20 "IceCat connector"
Creating an icecat connector for having a huge demo datastore

we can be inspired by

https://pypi.python.org/pypi/django-icecat
http://pyicecat.readthedocs.io/en/latest/IceCat.html
https://github.com/Vauxoo/addons-vauxoo/tree/7.0/product_icecat
https://github.com/openlabs/nereid-catalog-icecat

[2017-05-04 08:09] sebastienbeau opened #22 "Better connexion to odoo using an API key"
For now we have implemented a simple auth base on an apikey store on the locomotive backend that shuld be pass to the http header

[2017-05-10 08:03] sebastienbeau opened #24 "Better Json Field"
Odoo implement Serialized field but only allow "dict".
it will be better to
- call the field "Json" instead of serialized
- be able to store a list or a dict
- have a real "Json" field stored in json in postresql

This can be done in a separated module for now and them we should do a PR to Odoo

[2017-05-28 22:25] sebastienbeau opened #26 "Export Attribute / filter"
- [x] export the attribute of odoo like a field into algolia
- [x] refactor filter on category in order to create a filter from an attribute or a field

[2017-06-08 10:19] #15 closed, assigned to nobody

[2017-06-30 14:00] sebastienbeau opened #40 "Interesting module to integrate"
This is a list of odoo module that will be great to integrate
* cagnotte modules : https://github.com/acsone/acsone-addons/pull/141/files

[2017-07-29 08:17] sebastienbeau opened #54 "Add Rubocop for check ruby guidelines"
See:
https://github.com/bbatsov/rubocop
https://github.com/github/rubocop-github/blob/master/STYLEGUIDE.md

[2017-07-29 08:19] sebastienbeau commented on #54
wrong project :S

[2017-07-29 08:19] #54 closed, assigned to sebastienbeau

[2017-10-01 11:09] sebastienbeau commented on #19
This have been done

[2017-10-01 11:09] #19 closed, assigned to nobody

[2017-10-01 11:10] sebastienbeau commented on #18
Done

[2017-10-01 11:10] #18 closed, assigned to nobody

[2017-10-01 11:10] sebastienbeau commented on #16
Done

[2017-10-01 11:10] #16 closed, assigned to nobody

[2017-10-01 11:22] sebastienbeau opened #59 "Migration version 10"
# Migration Shopinvader
Trello board : https://trello.com/b/oWwLLHkZ/shopinvader-code-sprint-oca-2017
Gitter chat : https://gitter.im/akretion/odoo-shopinvader

## Round 1

### Odoo Shopinvader
- [ ] base_url
- [ ] connector_generic
- [ ] product_stock_state
- [ ] product_multi_link

### Payment Gateway https://github.com/akretion/payment-gateway
- [ ] payment_gateway

### Ak Incubator https://git

[2017-10-02 10:07] rvalyi opened #60 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0

# Modules to migrate

- [ ] base_url
- [ ] connector_generic
- [ ] connector_locomotivecms
- [ ] partner_contact_company
- [ ] product_media
- [ ] product_online_category
- [ ] product_rating
- [ ] product_stock_state
- [ ] product_tag
- [ ] shopinvader
- [ ] shopinvader_algolia
- [ ] shopinvader_claim
- [ ] shopinvade

[2017-10-13 09:01] sebastienbeau opened #67 "Secure params decorator => move on send to service"
After thinking twice, instead of using a decorator for securing the params the best will to implement that check in the send_to_service method https://github.com/akretion/odoo-shopinvader/blob/10-shopinvader-migration/shopinvader/controllers/main.py#L25

This will be more secure because we can forget a decorator, and also avoid issue when you want to inherit a function that have been already decor

[2018-02-22 09:03] sebastienbeau opened #87 "Todo split shopinvader_check_vat"
The code have been remove from based module : https://github.com/akretion/odoo-shopinvader/commit/afe28e59ce4ab23d88cba47048d45e4747c31744

Should be moved in a new module

The work have been started here : https://github.com/akretion/odoo-shopinvader/tree/10.0-to-migrate/shopinvader_vat

[2018-02-22 10:49] sebastienbeau opened #88 "Todo split shopinvader_payment"
The code have been remove from based module : afe28e59ce4ab23d88cba47048d45e4747c31744
Should be moved in a new module

[2018-02-23 08:13] sebastienbeau opened #89 "Todo split shopinvader_delivery"
The code have been remove from based module : 787af1db7a505324a8dcc8d503188361fe228175

Should be moved in a new module

[2018-02-23 08:14] sebastienbeau opened #90 "Todo split shopinvader_anonymous"
The code have been remove from based module : fd6ce7a7421ae6641c71eab90f3a2b9b5044f2a5
Should be moved in a new module

[2018-02-23 08:15] sebastienbeau opened #91 "Todo split shopinvader_image"
The code have been remove from based module : ff0bb44ecf37c3636e71679a63bdeb9e334cc2ae
Should be moved in a new module

[2018-02-23 08:16] sebastienbeau opened #92 "Todo split shopinvader_role"
The code have been remove from based module : db11a5dde6cc9327249995f2470235929a677430
Should be moved in a new module

[2018-02-23 08:16] #26 closed, assigned to nobody

[2018-02-23 08:17] sebastienbeau commented on #22
This have been split in auth_api_key

[2018-02-23 08:17] #22 closed, assigned to nobody

[2018-03-06 16:50] sebastienbeau opened #110 "Extract the used of odoo image"
After think twice using odoo image is not that simple (image are not public by default, there is not image on categ)
For having a basic dev/demo behaviour I think I will simply create a module that have this 2 features

[2018-05-29 00:36] rvalyi opened #128 "active_shipping client"
wrap https://github.com/Shopify/active_shipping in a microservice much like https://github.com/akretion/boleto_cnab_api
and have a client for it (much like https://github.com/akretion/odoo-boleto-cnab ) to consume it from ShopInvader. May be useful for places where we didn't built python shipping libraries when great ones by Shopify may exist. Possibly useful for the USA and Brazil.

Would give us

[2018-06-14 10:12] sebastienbeau commented on #110
this have been done, now you can use the module shopinvader_image

[2018-06-14 10:12] #110 closed, assigned to nobody

[2018-06-14 10:12] sebastienbeau commented on #91
DONE

[2018-06-14 10:12] #91 closed, assigned to nobody

[2018-06-14 10:12] sebastienbeau commented on #89
DONE

[2018-06-14 10:12] #89 closed, assigned to nobody

[2018-06-14 10:12] sebastienbeau commented on #88
DONE

[2018-06-14 10:12] #88 closed, assigned to nobody

[2018-06-14 10:13] sebastienbeau commented on #14
work in progress here : https://github.com/akretion/odoo-shopinvader/pull/144

[2018-06-14 10:14] sebastienbeau commented on #67
DONE in base_rest

[2018-06-14 10:14] #67 closed, assigned to nobody

[2018-06-15 08:56] lmignon opened #154 "base_rest: RFC: Improve request/response Schema description"
## Current context

In base_Rest, information exchanged by services is validated according to a Cerberus schema defined as dict.

[code]

Defining such schemas could become boring and lead to a hard to read/maintain result when the schema is complex. This kind of definition is also hard to extend, reuse etc...

## Proposal

Odoo already provides a clean api to define models. This API provides a py

[2018-06-15 08:56] lmignon commented on #154
ping @sebastienbeau @sbidoul @Cedric-Pigeon @acsonefho

[2018-06-15 09:29] sbidoul commented on #154
Sounds like a great idea at first glance.

Documentation and reuse are strong arguments. It would also become easier to annotate services with request/response models instead of the current implicit properties. m2o, m2m should work too (for json dicts and lists respectively). Selections for enums.

Perhaps one should quickly scan the Cerberus schemas we currently have in actual services, to check

[2018-06-15 09:56] lmignon commented on #154
@sbidoul

Indeed, with a way to say that the request  / response is a list or not (default)

[code]

[2018-07-10 07:33] JayVora-SerpentCS commented on #60
partner_contact_company #162

[2018-07-11 17:04] rvalyi opened #163 "better error management when Odoo raises a UserError"
so for instance, when trying to pay a shopping cart, I have this Odoo error log:
[code]

Such error may happen if Odoo is unable to deal with the request, that is fine. What is not user/developper friendly however is what happens then in the Rails part of ShopInvader with this stack trace:
[code]
So the problem is that data is null and we don't re-catch the Odoo error in a decent way.

[2018-08-01 09:06] sebastienbeau commented on #154
:+1:

[2018-08-04 10:43] rousseldenis opened #178 "Url key computation raise Error on product modification (multicompany context)"
Since the merge of https://github.com/akretion/odoo-shopinvader/pull/167, products modification raise access errors on shopinvader.product read on backend_id during url_key computation.

The product is shared between multiple companies, the user belongs to company A, but shopinvader links are on company B.

As I don't know so much the project, I need some advice here.

My instinct would have lead

[2018-08-04 10:46] rousseldenis commented on #178
As multicompany processes are always critical ones, should we add some tests on #167 ?

[2018-08-04 12:50] rousseldenis commented on #178
PR is here https://github.com/akretion/odoo-shopinvader/pull/179

[2018-08-06 07:45] lmignon commented on #154
moved to https://github.com/OCA/rest-framework/issues/2

[2018-08-06 07:45] #154 closed, assigned to nobody

[2018-09-10 10:45] bunhin opened #205 "Is There any Brief Guide to Install?"
very great work,  but please help with a brief install guide if possible at this stage, global steps and link will be good enough. thank you.

[2018-09-10 10:47] sebastienbeau commented on #178
Fixed

[2018-09-10 10:47] #178 closed, assigned to nobody

[2018-10-04 09:46] hparfr opened #220 "Rename shopinvader_algolia"
I suggest to rename the module shopinvader_algolia to shopinvader_search_engine_algolia
It will be more consistent with other modules in this repository like shopinvader_payment_*

[2018-10-04 12:14] hparfr opened #221 "Can't delete a shopinvader backend"
If there is categories already bound.
You can't delete a backend because of the categories.

[2018-10-04 12:41] hparfr opened #222 "Check connexion and give better feedback"
If the locomotive server is unavailable you get a stack trace.

1) a test connection button can be added
2) a better formatted error message should be displayed to the user

[2018-10-12 14:37] guillermm opened #227 "Problem when installing requirements.txt of odoo-shopinvader"
Hello I wanted to know if it has changed the route or what happens?
Because when trying to install the Locomotivecms connector, I require that repository that is in the         [odoo-shopinvader/requirements.txt](https://github.com/akretion/odoo-shopinvader/blob/10.0/requirements.txt#L10)

when I install the requirement this shows me an error:

![captura_01](https://user-images.githubusercontent.c

[2018-10-17 11:08] hparfr commented on #227
Hi,

I don't know why the first line of pip install is "Collecting https://github.com/akretion/odoo-shopinvader...".
It should be something like
[code]
Please ensure your are in python2 virtualenv and you are using pip through python2.

You can also try to install interactively the required libraries.

Specifically, locomotive-cms  can be installed like this :
[code]

[2018-11-20 09:45] acsonefho opened #244 "[IMP] shopinvader_session auto-update"
**Context**
Into the main Controller (`controllers.main:InvaderController`), we have a function named `_get_shopinvader_session_from_headers(...)` who is used to load some parameters from `headers` into the current `shopinvader_session`.
If a sub-module want to add another value into the `shopinvader_session`, we have to inherit this function and add customs keys.

**My question**
As we always/mos

[2018-11-20 09:46] acsonefho commented on #244
@sebastienbeau @Cedric-Pigeon @lmignon What do you think about this?

[2018-11-20 10:10] lmignon commented on #244
@acsonefho IMO we should find a better way to manage session information and no more rely on http headers.

[2018-11-20 14:57] rvalyi commented on #244
best reading I know on the subject https://guides.rubyonrails.org/security.html

[2018-12-05 09:47] #227 closed, assigned to nobody

[2018-12-22 01:51] blaggacao opened #265 "[EBS/Future] Shopinvader EBS support hooks"
Some companies use an Enterprise Service Bus decoupled from the Odoo ecosystem.
Reasons might be:

- Observability
- Decoupling / scaling
- Monitoring
- API Monetization
- etc.

There must be a way to provide such hook in shopinvader so that an EBS can hook in and synchronize data to such external system  (as algolia, external content stores, etc).

Such hook would be somewhere before calling a jo

[2019-01-16 16:39] EBII opened #269 "[10.0] import_image magic missing"
it seems pip can not find dependencies magic
can not find what to install to get magic works for install module shopinvader_import_image

magic 0.1
python-magic 0.4.5
libmagic
python-libmagic

@sylvainc
regards

[2019-03-31 12:31] meet-rizwan opened #289 "OSError: [Errno 13] Permission denied: '/var/lib/odoo/sessions'"
hiii,
I am running docker odoo in my ubuntu 18 my following commands are below.
`docker run -d -v /data/postgres/giriraj:/var/lib/postgresql/data -e POSTGRES_USER=odoo -e POSTGRES_PASSWORD=odoo -e POSTGRES_DB=postgres --name db postgres:10
`
i cloned odoo-shopinvader repository in my ubuntu machine at /docker/addons/odoo-shopinvader. and then ran

` docker run -v /data/odoo/giriraj:/var/lib/odoo -

[2019-05-10 08:24] rousseldenis opened #317 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

* [x] base_url - By @rousseldenis - #318
* [ ]  connector_generic
* [ ] connector_locomotivecms
* [ ]  partner_contact_company
* [ ]  product_media
* [ ]  product_online_category
* [ ]  product_rating
* [ ] product_stock_state
* [ ]  product_tag
* [x]  shopinvader - By @rousseldenis - #320
* [x]

[2019-05-10 08:39] rousseldenis commented on #317
cc @shopinvader I've just created this + 12.0 main branch

[2019-05-10 16:32] rousseldenis commented on #317
@shopinvader Shouldn't 'base_url' module go to odoo-misc repository ?

[2019-05-13 15:04] sebastienbeau commented on #317
Yes we can move it here

[2019-05-13 15:05] sebastienbeau commented on #317
Regarding the migration it can be great if we can split the shopinvader is smaller module see here: : https://trello.com/c/uRTCjbuD/149-split-shopinvader-base-module-should-not-depend-on-sale
@bealdav maybe interested for helping on this point

[2019-05-13 15:06] rousseldenis commented on #317
@sebastienbeau : I had a discussion with @lmignon and we let base_url in odoo-shopinvader for now as he wanted to keep 10.0 and 12.0 branches equals. But planning that after 12.0 migration

[2019-05-13 15:08] sebastienbeau commented on #317
ok for me

[2019-05-15 10:14] acsonefho opened #322 "[10.0] shopinvader partner creation"
**Actual behaviour:**
module: `shopinvader` + `shopinvader_locomotive`
When we create a `shopinvader.partner` manually (by form view for example), the record (Odoo side) is created.
Then a job is created to add the new partner on Locomotive side and generate the `external_id`.
Then this `external_id` is saved on the `shopinvader.partner`.

But if we install `shopinvader_sale_profile`, it doesn't w

[2019-05-15 10:15] acsonefho commented on #322
@sebastienbeau @lmignon Can you take a look please?

[2019-08-08 16:42] #14 closed, assigned to nobody

[2019-08-08 16:43] lmignon commented on #14
documentation is available via a swagger page at /api-docs

[2019-08-08 16:49] lmignon opened #367 "[10.0] [12.0] Add to cart must check that the SO is in state 'draft'"
With locomotive, sometimes the session on the e-commerce website is no more valid. As result, when the client add a product to a cart we must be sure that the provided cart is still in draft (not done or cancelled or ...). If it's not the case, we must create a new cart and add the product to this new cart.

[2019-08-13 14:37] sbidoul opened #373 "[10.0] [12.0] session robustness"
It can happen that the session has known by the frontend is desynchronized with the state of the backend.

For instance, if the backend confirms the cart, and for some reason the frontend does not receive the information (for instance if the cart confirmation occured through a webhook from the payment provider), the frontend may continue to think it has a cart.

I think we should
- increase protec

[2019-08-15 15:40] lmignon commented on #367
better explanation into #373

[2019-08-15 15:40] #367 closed, assigned to lmignon

[2019-08-26 13:42] simahawk opened #376 "odoo-shopinvader-client repo request"
@sebastienbeau as you know we are working on a frontend client based on odoo.
I'd like to have a specific repo for it will full access rights (eg: `odoo-shopinvader-client`)
Work has already started, see https://github.com/shopinvader/odoo-shopinvader/pull/375 so I need to push modules for the client side somewhere.
I could create a repo under our org but I think is nicer if we keep it here.
Would

[2019-09-06 08:41] simahawk opened #391 "[12.0] shopinvader_locomotive.hooks.rename_module still needed?"
https://github.com/shopinvader/odoo-shopinvader/blob/12.0/shopinvader_locomotive/hooks.py

[2019-09-06 09:06] lmignon commented on #391
IMO no

[2019-09-20 08:09] lmignon opened #416 "Forward-port / Back-port TODO"
# Forward port from 10.0 to 12.0/13.0
* [x] ~~[10.0][ADD] Add a 'clear' on cart service + backend config #357 and [10.0][FIX] shopinvader: Don't override common test class #424~~
* [x] ~~[10.0][ADD] Add delivery service #325~~ by by @lmignon #479
* [x] ~~[10.0][ADD] add module shopinvader_delivery_instruction #313 depends of https://github.com/OCA/sale-workflow/pull/757  -> done in #446~~
* [x] ~~

[2019-09-24 13:39] Laurent-Corron commented on #391
removed with https://github.com/shopinvader/odoo-shopinvader/pull/409

[2019-09-24 18:36] #391 closed, assigned to nobody

[2019-09-25 14:34] sebastienbeau opened #427 "Creating a shopinvader partner on a partner without mail raise a unexplicit error"
We need to raise a more explicit error

[2019-09-25 23:20] sebastienbeau opened #429 "Generic concept of sale.shop or sale.channel"
The more I think about e-commerce and the fact that we can sale on several channel (amazon, c-discount, own site...), the more I think we should introduce a concept of "sale.channel" or "sale.shop" that can be "_inherits" by shopinvader.backend and same for backend in lengow connector.

[2019-09-27 12:31] acsonefho opened #432 "[10.0] Login create a new empty cart"
**Current behavior**
When you login, a new empty cart is created. (Only if this user doesn't have one already in draft).

**Issue**
I think it's an issue (or undesired behavior) because as the user doesn't add anything into the basket, it shouldn't create a cart for nothing.

**How to reproduce**
- Check into backend how many existing carts you have;
- Go on the shopinvader website (don't browse a

[2019-09-27 12:32] acsonefho commented on #432
@lmignon What do you think about that?
Thank you

[2019-09-27 12:44] lmignon commented on #432
Indeed, . _get is now designed to always return a cart... (if none is found, a new one is created) We must think further on the expected behavior...

[2019-09-27 15:10] lmignon opened #433 "[10.0][12.0] shopinvader: Binding not created when a new lang is added"
When you use the assortement, once the product are binded, if you add a new lang, the binding for this new lang are never created

[2019-09-27 15:10] lmignon commented on #433
ping @Cedric-Pigeon

[2019-09-29 07:48] #433 closed, assigned to nobody

[2019-09-30 12:28] acsonefho commented on #416
@lmignon I Forward port the clear cart #444 (I don't have rights to edit your document)

[2019-09-30 15:26] acsonefho commented on #416
I also make this one #446 about module shopinvader_delivery_instruction

[2019-10-01 08:38] simahawk opened #447 "Fix "binded" all around: it should be "bound" :)"
a mega find-and-replace is needed to get rid of  "binded" term which is not really the past tense for "bind" :)

[2019-10-07 14:26] simahawk opened #451 "Todo split shopinvader_demo_app to shopinvader_app + shopinvader_app_demo"
As discussed w/ @sebastienbeau it would be nice to have module that bundles all the basic / e-commerce must-have features + their configuration.

Goal: 1 click install w/ all the main stuff in place.

TODO: `shopinvader_demo_app` is now a good base for this. We can simply split out demo data from there and adapt consequently.

[2019-10-07 14:31] simahawk opened #452 "Misc improvements (aggregator)"
Aggregator of all the features we discussed at OCA days. I'll create one issue with the specs we wrote together per each of the following items:

- [x] Company validation #454
- [x] Multiple users per same partner / company #454
- [x] Protect "add to cart" from non-bound records #455
- [x] Sale wishlist https://github.com/shopinvader/odoo-shopinvader/issues/457
- [ ] Filter products by role / grou

[2019-10-07 14:38] simahawk commented on #429
@sebastienbeau can you clarify a bit more purpose and how it should impact current state?

[2019-10-07 15:31] simahawk opened #454 "Company validation + multi-users per company"
## Context
A company can register: we must it is a company, we must be able to validate it and salesman must be notified.
A company can have several users at several levels / areas (eg: departments).
It should be possible to register a company and then attach as many users as they want to it.

## Solution
Add a flag to enable/disable companies, add a unique auto-generated token to each company and

[2019-10-07 15:55] simahawk opened #455 "Protect cart from not bound records"
## Goal
Make sure nobody can add a non bound product to the cart.
Collateral goal: allow to control product availability for selling from different contexts.

## Solution
Add a generic method to product to check it no matter where.

## TODO
1. add `_add_to_cart_allowed` method to `product.product` (gets backend and partner)
2. add minimal check check if a binding for given backend is available
3.

[2019-10-08 08:39] rousseldenis opened #456 "[RFC] shopinvader_lead: Add (configurable) tags"
The idea could be adding configurable tags in backend to be added when creating lead in Odoo.

For instance, the aim would be differenciating leads that come from website and from other sources.

@sbidoul @sebastienbeau @lmignon

[2019-10-08 08:57] sbidoul commented on #456
Or better, some sort of integration between `shoinvader_lead` and `utm.mixin` (of which `crm.lead` inherits).

That requires a bit more investigation, but it's definitely useful to have a way to integrate shopinvader with Odoo marketing modules.

Typical use case: you do a marketing campaign which direct customers to creates lead from the shopinvader website. You want the tracking information that

[2019-10-08 10:32] simahawk opened #457 "Products wishlist"
## Goal
Provide wishlist feature + ability to create different kinds of lists.

## Solution
Start from
~~https://github.com/OCA/sale-workflow/blob/11.0/sale_product_set_variant/~~
https://github.com/OCA/sale-workflow/blob/12.0/sale_product_set
which already allows to define sets of products and convert them to SO lines.
Add endpoints for retrieving, searching and converting to cart.

## TODO
### `

[2019-10-11 12:04] simahawk opened #462 "Q: Product multi-category?"
Hello guys :)

In std Odoo shop you can apply different public product categories on a product.
Here I see https://github.com/shopinvader/odoo-shopinvader/tree/12.0/shopinvader_multi_category but seems not migrated yet. What's the plan? I cannot find it.
Very likely we'll need this feature so better to know the common path ;)

Thanks!

CC @sebastienbeau @lmignon @sbidoul

[2019-10-11 12:27] lmignon commented on #462
Hi @simahawk,

This addon is not yet migrated since our client on V12 don't need it. In v12, product.public.category comes with website_sale. IMO we should stay with product.multi.category for shopinvader.

Regards

lmi

[2019-10-11 13:31] simahawk commented on #462
@lmignon hmm am I wrong or it does not provide the same feature?
I know that `product.public.category` comes from `website_sale`, unfortunately :sob:
The point is that it adds another layer for the categories so that you can handle internal and website categories separately (imagine you don't want to publish them all or you want to display them w/ a different name).
With `shopinvader_multi_categor

[2019-10-11 14:00] simahawk opened #463 "[RFC] Cart expiry"
Would be nice to be able to configure cart expiry from backend as we do for guest accounts.
Do you have any plan regarding this?
If it's ok for you we could do the same for carts. It is somehow related to https://github.com/shopinvader/odoo-shopinvader/tree/12.0/shopinvader_pending_cart_reminder -> may worth to add it there as an option? Like: after N reminders sent we delete the cart.

[2019-10-16 09:15] simahawk commented on #416
to be addedd to FWD ports https://github.com/shopinvader/odoo-shopinvader/pull/465

[2019-10-16 09:17] simahawk commented on #416
to be added to backports https://github.com/shopinvader/odoo-shopinvader/pull/359

[2019-10-16 14:47] simahawk commented on #317
@sebastienbeau @rousseldenis time to update this list? :stuck_out_tongue_closed_eyes:
Among the ones missing I've just found https://github.com/shopinvader/odoo-shopinvader/tree/10.0/shopinvader_product_template_multi_link
cross/up-selling is something we need. Do you have a plan / need for this?
What about the name? Shall we find a better one?

[2019-10-16 15:05] lmignon commented on #317
@simahawk No need on our side for the moment. But the migration should be very easy.
Feels free to find a better name :smirk:

[2019-10-17 05:24] simahawk commented on #317
@lmignon ok, thanks for the feedback :smirk:
NOTE: `shopinvader_algolia` is migrated :wink:

[2019-10-17 06:06] lmignon commented on #317
@simahawk Regarding shopinvader_product_template_multi_link, IMO we should improve the implementation. Indeed actually when you create a link from product a to product b, you must also create the reverse link between b and a...

[2019-10-17 06:20] simahawk commented on #317
@lmignon I'm checking the implementation: now I get why it has been called like that. It depends on https://github.com/OCA/e-commerce/tree/10.0/product_template_multi_link which too me sounds over complicated. To me we could simply have m2m fields w/ their inverses. What do you think?

[2019-10-17 06:34] simahawk commented on #463
bah, I was clearly drunk: I forgot I reviewed this feature for v10 :sweat: https://github.com/shopinvader/odoo-shopinvader/pull/448

[2019-10-17 06:34] #463 closed, assigned to nobody

[2019-10-17 06:42] simahawk opened #466 "RFC make search engine locomotive export settings generic"
@lmignon the piece of code you put [here](https://github.com/shopinvader/odoo-shopinvader/blob/12.0/shopinvader_locomotive_elasticsearch/component/shopinvader_site_export_mapper.py) in `shopinvader_locomotive_elasticsearch` seems to be the same that can be used to export setting for algolia (and any other SE) because they are peculiar to locomotive plugin.

Being generic and being strictly tied to

[2019-10-17 06:43] lmignon commented on #317
I like the idea to be able to 'type' a link between two products.

Something like
[code]

With this kind of implementation:
* it become easy to export the links between products with the right semantic dependng of place of the product into the relation (left of right)
* when product a is linked to b, b is linked to a
* it's easy to display all the links for one product
* you are not restricted to

[2019-10-17 06:55] simahawk commented on #317
Seems a good starting point :) Can you move this to a specific issue? Maybe straight on e-commerce repo.

[2019-10-17 07:14] lmignon commented on #432
merged into 10.0 and 12.0

[2019-10-17 07:14] #432 closed, assigned to lmignon

[2019-10-17 07:38] lmignon commented on #317
@simahawk here it is https://github.com/OCA/e-commerce/issues/307

[2019-10-17 07:58] lmignon commented on #466
@simahawk That makes sens to move this code into `shopinvader_locomotive` and find a way to provide the key into the specific addons .

[2019-10-17 07:59] #373 closed, assigned to lmignon, sebastienbeau

[2019-10-24 07:09] simahawk opened #473 "RFC Customer language management"
Would be nice if customers can set their language via their account form in locomotive.

On locomotive available langs come from:
https://github.com/shopinvader/odoo-shopinvader/blob/12.0/shopinvader_locomotive/component/shopinvader_site_export_mapper.py#L57
So we could:
1. loco: add a selection field on registration form and account form
by default: current lang selected. If you don't need it, ju

[2019-10-24 08:06] lmignon commented on #473
:+1:

You're right. easy change to introduce without breaking existing installation. Currently the default come from the ctx, if the customer has already selected the right language into the site, the lang will be correctly filled into the partner info. This change will just allows the "force" the language into the customer information.

:+1:

Yes, based on the http header.... By default this head

[2019-10-24 11:44] simahawk commented on #473
point 2 implemented here https://github.com/shopinvader/odoo-shopinvader/pull/474

[2019-10-28 13:03] simahawk commented on #466
@lmignon there you go https://github.com/shopinvader/odoo-shopinvader/pull/477

[2019-10-31 15:23] simahawk opened #489 "RFC Add backend version <-> client version"
ATM it's almost impossible to keep track of which version is available on server side and which one is on client side (locomotive).

We need a way to declare this to make easier to provide compatible data whenever we have a change or simply to understand which shopinvader release we are dealing with.

Example: in this case https://github.com/shopinvader/odoo-shopinvader/pull/476 I have to add anot

[2019-10-31 15:28] simahawk opened #490 "RFC Merge locomotive settings schema fields all in once"
Use case: add a new field to the schema https://github.com/shopinvader/odoo-shopinvader/pull/476
ATM you cannot simply export new data to locomotive because you need that field to be present in its metafields schema.

IMO we should have only one bucket for such settings (eg: odoo_settings or erp_settings) which contains all the settings we need (eg: available_countries, languages, currencies, etc)

[2019-10-31 15:29] simahawk commented on #489
@lmignon @sebastienbeau I'd like to hear your opinion :)

[2019-10-31 15:29] simahawk commented on #466
merged

[2019-10-31 15:29] #466 closed, assigned to nobody

[2019-10-31 15:31] simahawk commented on #376
this is on hold for now. I'll reopen it if I'll get back to this prototype.

[2019-10-31 15:31] #376 closed, assigned to nobody

[2019-10-31 15:33] simahawk commented on #289
this issue is pretty old and in any case seems unrelated to shopinvader features.

[2019-10-31 15:33] #289 closed, assigned to nobody

[2019-10-31 15:37] simahawk commented on #265
@blaggacao is this still relevant?
Is not clear to me what you need that you cannot achieve now by hooking to existing hooks.
Any particular one missing?

[2019-10-31 16:36] lmignon commented on #490
@simahawk I like this idea. BUT we must document the changes and explain how an existing website can be migrated.

[2019-10-31 16:44] lmignon commented on #489
@simahawk Even if at first read the idea looks great, I don't know how to put it in place on a practical point of view. For some of our customer, we also export additional config information from odoo to  locomotive. I now think I remember that to export the config, we start by loading the document. We therefore have a way of knowing which fields are provided by the schematics in the locomotive fo

[2019-11-01 14:46] blaggacao commented on #265
Thanks for the follow up. I'll close.

[2019-11-01 14:46] #265 closed, assigned to nobody

[2019-11-04 07:33] simahawk commented on #489
@guewen you've dealt w/ "versions" on connector backends for a while, can you give us your opinion?
IMO being able to target specific version w/ the same code base is really handy.
For a connector-wide solution I'd like to have something like `@mapping(version='x.y.z')`.
The way it's done on connector-prestashop and alike it's hack-ish but works.
For our specific case we could easily achieve it w/

[2019-11-04 07:43] guewen commented on #489
In the new "component-based" connector implementation, I removed the versions backed in the backend, because it was too complex, hardly used and prevented to have a proper inheritance in many ways. You can still do it, but without "framework" support, it has to be part of the implementation. See http://odoo-connector.com/guides/migration_guide.html#backend-versions
I wrote once some additional pat

[2019-11-04 08:13] simahawk commented on #489
oh now I remember that. Ok, I think we can just start by adding a `version` field to the backend and maybe push this info to locomotive. Then we'll see if we really need to tie some functionalities to it.

[2019-11-04 08:16] simahawk commented on #490
@lmignon as you mentioned in #489 we are already reading existing settings and we can check what's available there. We could rely on it instead of adding a new flag.
I totally agree: this must be documented properly.

[2019-11-04 08:16] guewen commented on #489
If this is about mappings, we could have something in the base mapper of shopinvader such as:

[code]

And in the mappers for a version:

[code]

[2019-11-04 08:45] lmignon commented on #490
@simahawk Can you check that if we export unknow settings to locomotive these are ignored. I've the feeling that the schema into locomotive is only used to allow the edition of these settings from within the admin site.

[2019-11-05 06:58] simahawk opened #492 "Installable issue after v13 update"
@lmignon we have a big issue with this commit https://github.com/shopinvader/odoo-shopinvader/commit/0315f7a3c1fa6944aeafd33c961b7217ba563d93
it sets all modules or many of them as not installable :fearful:
Am I missing anything? :thinking:

[2019-11-05 07:23] simahawk commented on #492
apparently a bad target for v13 that landed on v12

[2019-11-05 08:08] lmignon commented on #492
Indeed. Thank you for your help to fix this issue. The branch 12.0 is know reset at the last commit before the merge....

[2019-11-05 08:08] #492 closed, assigned to nobody

[2019-11-05 09:49] simahawk commented on #490
had a call w/ @sebastienbeau yesterday: we agreed on wrapping settings only if the settings key is found on the existing instance (even if using "reset").
To keep existing instances safe, we can still push a copy of old info to the old static metafields.

[2019-11-05 14:46] simahawk commented on #490
@lmignon you were right: apparently you can send whatever you want, locomotive won't complain.
In my opinion we should still wrap settings but seems is not fundamental ATM.
CC @sebastienbeau

[2019-11-07 10:16] simahawk commented on #473
point 1 and 3 will be done by @thibaultrey in the template (maybe w/ some help on Ruby side by @sebastienbeau ).

[2019-11-07 10:21] simahawk opened #496 "RFC Official default notifications"
AFAIK there are no default shopinvader.notification records to handle what an e-commerce usually does: sending you notifications.

These are defined only in demo mode but I think we need some default records which should be easily overridable. Hence I'd say:

* we must have a new module like `shopinvader_notifications`
* must rely on https://github.com/OCA/social/tree/12.0/email_template_qweb to e

[2019-11-11 08:08] simahawk opened #502 "RFC Support additional contact data on customer endpoint"
**Usecase**
You are registering a company but you want to provide a contact as well.

**Today**
You cannot, you have to wait for the whole registration to finish, log in, add addresses (which are not contact

**Proposal**
Add support for all `res.partner:type` options via prefixes.
We can loop on them and inject all keys supported for addresses prefixed by `contact_` or `invoice_` or `delivery_` e

[2019-11-11 10:12] simahawk opened #504 "Delivery state not consistent w/ Odoo delivery state"
[Current "shipped" mapping](https://github.com/shopinvader/odoo-shopinvader/blob/12.0/shopinvader/models/sale.py#L40-L49) seems wrong to me. Even after processing the picking, the order on locomotive appears as "processing" instead of "shipped".
ATM you get it to "shipped" only once you lock the order.

The order can be `done` already or not and the product not shipped.

I think it should be somet

[2019-11-12 14:04] sebastienbeau commented on #502
addresses[0]['type']=delivery
addresses[0]['name']=dupond

addresses[1]['type']=invoicing
addresses[1]['name']=durant

addresses[2]['type']=invoicing
addresses[2]['name']=simone

addresses[3]['type']=contact
addresses[3]['name']=thibault

[2019-11-12 14:04] simahawk commented on #502
sounds good as we said :)

[2019-11-12 14:11] simahawk commented on #502
1. we add a flag "is admin user"
2. the customer gets created
3. if one of the addresses is admin -> create a new user on locomotive via `shopinvader_locomotive`

[2019-11-14 14:37] simahawk commented on #457
1st step: sale_wishlist https://github.com/OCA/sale-workflow/pull/994
I've change some details:
* partner_id is in sale_product_set
* typology "wishlist" is in sale_wishlist

[2019-11-14 15:25] simahawk commented on #455
https://github.com/shopinvader/odoo-shopinvader/pull/511

[2019-11-15 08:54] simahawk commented on #455
done

[2019-11-15 08:54] #455 closed, assigned to nobody

[2019-11-18 07:39] simahawk commented on #457
another change: we don't need _variant as we rely on single products

[2019-11-18 08:01] simahawk commented on #457
@lmignon one more doubt regarding the specs we defined: is it really needed to call the wizard to add wishlist items to cart?
The cart service will take care of updating a line if the product is already there. The wizard won't.
Also, the wizard does a lot of things to respect sequences etc -> we don't need it in the cart.
The cart now already checks if the product is allowed -> no need to add an e

[2019-11-18 11:01] lmignon commented on #457
@simahawk The logic called by the service must remains accessible from Odoo.  An user using Odoo should be able to manually apply a wishlist defined by a customer from within odoo. The service layer should not provides business logic...

[2019-11-18 13:29] simahawk commented on #457
@lmignon I see your point but the cart service has its own logic and for a good reason. If we don't use it we still have to improve sale_product_set because it will have a behavior that is no expected by an e-commerce feature (eg: duplicating product lines in the cart). I'd like not to add extra logic.
I'm not sure is worth it in this case :thinking:

EDIT: probably we should consider sale_product

[2019-11-18 13:46] rousseldenis commented on #457
Do I understand that user cannot define wishlist on a particular variant of product (Color, size, or...)? IMHO this as to be implemented...

[2019-11-18 15:22] simahawk commented on #457
@rousseldenis nope. `sale_product_set` already links a `product.product`. `sale_product_set_variant` adds a template field + the possibility to add several variants per line and hides `product_id`. This feature, for me, is totally useless for the wishlist case. When me and Laurent discussed about this implementation we gave for granted that the base module deals only w/ the template but it's not.

[2019-11-18 15:54] rousseldenis commented on #457
Ok, I see. The module name 'sale_product_set_variant' is a little bit confusing...

[2019-11-19 11:12] simahawk commented on #457
Had a call w/ Laurent, outcome:
1. ignore _variant (we could just add an issue regarding its bad implementation)
2. add a flag in product.set.add to update or ignore existing lines: if true, it ignores existing products  (default false)

[2019-12-06 13:29] simahawk opened #530 "RFC Customer service must have its own `update` endpoint"
Right now when you update the profile, the website calls the address endpoint.
I think this should change because what your are updating is NOT the address but the address info of the main profile.
The current situation makes hard to customize the behavior of the customer end point.

Right now I'm facing an issue whereas I update the customer and I need info coming from the customer service (which

[2019-12-19 16:11] JordiBForgeFlow opened #538 "[12.0] Error when upgrading the module 'shopinvader'"
When we upgrade 'shopinvader' we get this error. Not sure why..

`Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo/custom/src/odoo/odoo/tools/convert.py", line 758, in parse
    self._tags[rec.tag](rec, de, mode=mode)
  File "/opt/odoo/custom/src/odoo/odoo/tools/convert.py", line 663, in _tag_record
    record = model.with_context(rec_context)._load_records([data], self.mode

[2019-12-19 16:33] lmignon commented on #538
@JordiBForgeFlow Thank you for the report. I've never encountered this error before... looks very strange since the method is defined into the shopinvader_locomotive addon. Are you in the upgrade process of the shopinvader addon at this stage of your update? Looks like the event_listener in shopinvader_locomotive is already registered but the addon not yet loaded into the registry.

[2020-01-02 13:47] rousseldenis opened #539 "Migration to v13"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

* [x] base_url - By @lmignon - #478
* [ ]  connector_generic
* [ ] connector_locomotivecms
* [ ]  partner_contact_company
* [ ]  product_media
* [ ]  product_online_category
* [ ]  product_rating
* [ ] product_stock_state - By @simahawk - https://github.com/OCA/product-attribute/pull/645
* [ ]  pr

[2020-01-13 13:17] sebastienbeau opened #555 "Missing cart after sign in"
Running the ruby integration test I detect that the cart is missing after the sign in
https://github.com/shopinvader/locomotive-shopinvader/blob/v4.0.x/spec/integration/server/auth_spec.rb#L99

I will investigate more

[2020-01-30 08:07] rousseldenis opened #565 "[ADD] Data protection"
I'm currently busy to integrate :

https://github.com/OCA/data-protection

for privacy consentment in v10

[2020-02-13 11:03] simahawk commented on #457
FTR this is implemented already in v12 and v13 :tada:

[2020-02-13 11:03] #457 closed, assigned to simahawk

[2020-02-13 11:09] simahawk opened #574 "Product wishlist metadata by user"
Related to https://github.com/shopinvader/odoo-shopinvader/issues/457

We must be able to determine if a product stays in a customer's wishlist or not on client side.
How can we handle this?

If we still don't want to call odoo when we load the product page, I think that the only way is to have a specific index in the search engine that stores wishlist metadata.
Each record would be a wishlist w/

[2020-02-13 12:58] lmignon commented on #574
@simahawk All this makes sens....

The wishlist name is translatable ?????

[2020-02-17 11:02] simahawk commented on #574
actually not, I went by memory :sweat_smile: One thing less to take care of :)

Regarding the lang we have some constraints tho, because it's a required field for indexes.

See
https://github.com/OCA/search-engine/blob/12.0/connector_search_engine/models/se_index.py#L22
https://github.com/shopinvader/odoo-shopinvader/blob/13.0/shopinvader_search_engine/models/se_index.py#L18

In theory having a la

[2020-02-18 14:30] hparfr commented on #574
Everything in the SE is more or less public. Isn't it a concern about user privacy ?

[2020-02-19 07:09] simahawk commented on #574
you are right but we can simply use something else instead of the email (partner_id or an hash or something else). It seems good at least for a 1st version.

[2020-02-19 07:58] lmignon commented on #574
@simahawk IMO we should support indexes without lang..

[2020-03-18 15:32] Cedric-Pigeon opened #586 "All travis builds fail due to a problem with SqlAlchemy"
sample: https://travis-ci.org/github/shopinvader/odoo-shopinvader/jobs/663994375?utm_medium=notification&utm_source=github_status

No merge are possible in such situation.

I tried several way to solve without any success.

Could anyone help me?

@hparfr @sebastienbeau @simahawk @lmignon @sbidoul

[2020-03-18 15:57] hparfr commented on #586
I have this one too.

May be it's related to this https://github.com/pypa/pip/issues/6264

[2020-03-18 16:15] sbidoul commented on #586
This is the reason I made https://github.com/OCA/maintainer-quality-tools/pull/646

[2020-03-18 16:19] sbidoul commented on #586
Let's see: https://github.com/shopinvader/odoo-shopinvader/pull/587

[2020-03-19 07:52] Cedric-Pigeon commented on #586
Solved by https://github.com/shopinvader/odoo-shopinvader/pull/589

[2020-03-19 07:52] #586 closed, assigned to nobody

[2020-03-19 10:48] acsonefho opened #590 "[IMP] sale_promotion_rule always update write_date even if nothing change"
Currently, when we have to re-check every days every carts to ensure the promotion is not expired (by a cron).

It cause some incompatibility with module `shopinvader_cart_expiry` and `shopinvader_pending_cart_reminder` because these 2 use the `write_date` of the cart to do the behaviour..

So for these 2 modules, the cart is updated every, that means:
- `shopinvader_cart_expiry`: the cart doesn't

[2020-03-19 10:49] acsonefho commented on #590
@Cedric-Pigeon if you want to give more details, you're welcome.
@sebastienbeau if you have an idea about this?

Thanks!

[2020-03-19 10:52] Cedric-Pigeon commented on #590
@simahawk if you are inspired... ;-)

[2020-03-19 10:55] Cedric-Pigeon commented on #590
I think the best would be to base shopinvader_cart_expiry and shopinvader_pending_cart_reminder processes on another information than the write_date.
The question is which one?

[2020-03-19 11:06] Cedric-Pigeon commented on #590
Could we imagine to set an event listener on cart services (update, add_item, update_item and delete_item) to set a date field `last_customer_update` ?

[2020-03-19 11:20] rousseldenis commented on #416
@lmignon Shouldn't we make a 13.0 section  too ?

[2020-03-19 13:52] sebastienbeau commented on #590
I thinks it's a good and simple idea to add a last_customer_update date.
This can be done in the shopinvader module (updated by update, add_item, update_item....).
Then every module can use this date without ugly glue module

[2020-03-19 13:54] sebastienbeau commented on #590
we can simply add a method _update_customer_date in cart service and then call it from the different endpoint

[2020-03-19 14:25] Cedric-Pigeon commented on #590
The idea would be to have a property directly from the controller to propagate everywhere in the code. Then I would override write method and update `last_customer_update` if the property is set to True.
The main advantage is that this property will be useable for all objects and not only the cart.

[2020-03-19 14:31] rousseldenis commented on #590
A dedicated inheritable component for that behaviour ?

[2020-03-19 14:37] Cedric-Pigeon commented on #590
not really, the idea is a property `called_from_rest` accessible within the context from everywhere.

[2020-03-19 14:42] PierrickBrun commented on #416
to be added to backports:
#593 and #536 corresponding to #428 and #438
#540 corresponding to shopinvader_partner_firstname

[2020-03-19 16:46] sebastienbeau commented on #590
If we do such thing maybe we should have an Mixin

[code]

[2020-03-19 16:48] Cedric-Pigeon commented on #590
I'll work on PR tomorrow. Stay tuned ;-)

[2020-03-20 07:15] simahawk commented on #590
I agree w/ Seb, I was thinking about something similar ages ago :smile:
Regarding the ctx key: IMO it should be set always in the env.context of shopinvader request and why not in base_rest (eg: `rest_request=True` in base_rest + `shopinvader_request=True` in shopinvader).

[2020-03-20 07:18] Cedric-Pigeon commented on #590
@simahawk yes it was exactly my intends but not sure to include it in base_rest

[2020-03-23 10:55] rousseldenis opened #597 "shopinvader_guest_mode: create() allow to be bound to existing res.partner"
When creating guest partner with an existing email, the binding is correctly archived but the new one is bound with existing res.partner.

That is potentially security issue as you can log in (as guest) and be bound to existing partner without password...

@acsonefho @lmignon

[2020-03-27 12:32] #590 closed, assigned to nobody

[2020-03-27 12:35] Cedric-Pigeon opened #600 "Shopinvader: exclude location from online stock"
Currently on a shopinvader backend, we specify which **warehouse** we want to share the stock online.
I have a request from a customer who wants to exclude 1 or 2 locations from the online stock.
Any idea to do it easily?

[2020-03-27 12:40] rousseldenis commented on #600
This could be done adding a field restricting the locations (many2many), and adding those locations to context when evaluating stock_field

[2020-03-27 12:44] Cedric-Pigeon commented on #600
@rousseldenis yes thanks as discussed I missed the possibility to set a domain in the context

[2020-03-27 12:44] #600 closed, assigned to lmignon, sebastienbeau, rousseldenis

[2020-04-03 11:56] hparfr commented on #462
I have started the v12 migration of shopinvader_multi_category here #605

[2020-04-09 05:55] Cedric-Pigeon opened #609 "Upgrade of a delivery address linked to an open order"
Hi all,

we faced this case on production yesterday:
- A customer made an order and confirmed it
- A few hours later, he did another order but in place of creating a new delivery address he updated the existing one.
So both orders were delivered at the same address.

How should we prevent that? Should we block update of an address linked to an order?

[2020-04-09 06:28] acsonefho commented on #609
I see 2 different solutions (both with pros and cons):
1) When the address is related to a not already delivered SO (or used into delivery picking not already `done`), block* the update of address fields (that can force the user to create a new one).
`*` Block only for an update done by the front-side. Maybe the backend user can do it.

2) When a `res.partner` is edited (address fields), instead o

[2020-04-09 06:30] hparfr commented on #609
Yes, it should be delivered to the two places.

@bguillot did some experimentations on this topic if I remember well. https://github.com/akretion/partner-contact/commit/6a6a9791a1d87c9eb47c09fad79a8043b3b7b481

[2020-04-09 07:04] rousseldenis commented on #609
For me, the second is better idea. We just need to set the existing one as active=False.

At school, we learnt that for order addresses, we need to keep all details(street, zip and so on) and do not point to a record. Even in real case it's not possible, the second behaviour with the active False is the one that is most similar to that.

[2020-04-09 07:27] bealdav commented on #609
@hparfr it's a merged module https://github.com/OCA/partner-contact/tree/10.0/partner_address_version and I think it fix the case mentionned by @Cedric-Pigeon

[2020-04-09 07:33] rousseldenis commented on #609
Isn't a too big bang solution compare to the one proposed ?

[2020-04-09 07:37] bealdav commented on #609
Subject have been discussed here https://github.com/OCA/partner-contact/issues/404

I couldn't find this issue anymore sorry, may be because its number is `404` ;-)

[2020-04-09 09:25] Cedric-Pigeon commented on #609
@rousseldenis you are right I am not sure we need to go so far to solve such case
I would avoid to include a new dependency within shopinvader.

[2020-04-09 09:26] rousseldenis opened #610 "shopinvader_response: Include user errors"
Shouldn't it be a good idea to include in shopinvader response mechanism the errors that could be raised ?

Something like :

[code]
@lmignon @sebastienbeau What do you think about ?

[2020-04-09 12:49] simahawk commented on #610
Related to https://github.com/OCA/rest-framework/issues/42

[2020-04-09 13:04] simahawk commented on #609
I think this behavior should be optional via backend settings.
By default, I'd go for opt 1 -> is very easy: on v13 I've added permission/access information on profile and addresses, hence we can already block editing.
See [access_info](https://github.com/shopinvader/odoo-shopinvader/blob/13.0/shopinvader/components/access_info.py#L34).

For opt 2 I'd add a new module `shopinvader_partner_version`

[2020-04-09 13:08] simahawk commented on #609
FTR @thibaultrey Locomotive PR is still pending here https://github.com/shopinvader/shopinvader-template/pull/21 -> it can be unlocked when this feature lands in all versions.

[2020-04-09 20:50] sebastienbeau commented on #609
You do not need to create a shopinvader_partner_version.
Just installing the module sale_partner_version and you are done : https://github.com/OCA/sale-workflow/tree/10.0/sale_partner_version

We have build this module for solving this issue and it's the cleanest way to do it (no more issue on changing invoice address...), we have customer in production with it and shopinvader and there not issue.

[2020-04-10 08:30] Cedric-Pigeon commented on #609
@sebastienbeau Actually I just had a deeper look on your suggested add-ons. Unfortunately, it is not compliant with a shopinvader feature:https://github.com/shopinvader/odoo-shopinvader/blob/10.0/shopinvader/models/res_partner.py#L30

As the versioning feature creates a duplicate of the contact, it triggers the constrains on email unicity.

Should we add an active where_clause in the sql query on

[2020-04-10 10:01] sebastienbeau commented on #609
Hum, we do not have this option activated, this is why we didn't had the issue.
But after looking at the SQL constraint maybe the issue is here.
Indeed the sql request do not take in account the active field, we should exclude inactive partner

[2020-04-16 08:14] Cedric-Pigeon commented on #609
I just discovered that sale_partner_version duplicates all addresses at each sale order confirmation.
So even if the customer never updates his addresses we will always have them twice.
Even if the duplicate is inactive, I am wondering if there isn't any better solution.
I think that the price to pay is high regarding the frequency of such use cases.

[2020-04-16 10:10] bealdav commented on #609
I confirmed that tells cedric and it's an unrequested features or a bug IMHO. It wasn't the initial conception probably lost in this demoniac number https://github.com/OCA/partner-contact/issues/404.
Probably missing test, then

You can test yourself duplicating this sale http://3418459-10-0-7c9805.runbot2-2.odoo-community.org/web#id=16&view_type=form&model=sale.order&menu_id=210&action=279

cc @b

[2020-04-16 13:33] Cedric-Pigeon commented on #609
work in progress here to trigger the versioning on address update if used:
https://github.com/OCA/partner-contact/pull/888
https://github.com/OCA/sale-workflow/pull/1119
https://github.com/OCA/sale-workflow/pull/1121

[2020-04-24 05:40] Cedric-Pigeon commented on #609
Theses PR's are also required to make everything works correctly:
https://github.com/shopinvader/odoo-shopinvader/pull/620
https://github.com/shopinvader/odoo-shopinvader/pull/621

[2020-04-30 11:06] sebastienbeau opened #625 "Get on addresses endpoint with a specific id return a list instead of the data directly"

[2020-05-01 16:36] sebastienbeau opened #626 "Rest API plurial/singular"
Hi all

### context
In the Shopinvader API we have some endpoint in plurial and some in singular.
I am going the initial reason of this choice and want to open a discussion about it.
The aim it to have a clear guideline on this point.

### why plurial and singular
The initial reason was to give the best experience to the web front developer. For this I try to stick to the locomotive/liquid tag and

[2020-05-05 05:16] Cedric-Pigeon commented on #626
@sebastienbeau I totally agree with you and my favourite option would be to use singular and plurial correctly in the API. It will ensure consistency through all layers. We absolutely have to avoid introducing more stuff on Ruby side. Thanks for this reflexion

[2020-05-05 06:32] lmignon commented on #626
I have to say that I'm quite annoyed to know that the way a service is
named has an influence on the locomotive part. IMO, there is no reason to
be forced to separate services providing access to collections on the one
hand and to an instance of an object on the other. Personally I find that
it makes the api more complex and I would prefer to have 1 service per
concept handled (cart, delivery, ...

[2020-05-08 09:01] sebastienbeau commented on #626
I also agree that the way we use the API on locomotive should not impact the design of the API. The API must be clean and usable, understandable without locomotive.

The initial idea was to stick as much as possible near from locomotive syntax and make it compatible with paginate, scope syntax. So user was using the same syntax for getting sales (come from odoo), product (from elastic or algolia),

[2020-05-08 09:33] sbidoul commented on #626
I'm not sure I get all the subtleties here. So a few things that are clear to me:

-1

+1

Many REST API in the wild tend to use plural for everything. For instance it would make sense to me to see  `/invoices/{id}` returning one or `/invoices/` returning something that you can iterate. See for instance the https://api.github.com. Not sure if that creates problems in `base_rest`?

-10, too magical

[2020-05-08 09:56] sebastienbeau commented on #626
Yes currently we do not handle in the same way a call with a singular endpoint and plural endpoint.
The code is here : https://github.com/shopinvader/locomotive-shopinvader/blob/v4.0.x/lib/shop_invader/liquid/drops/store.rb#L30

Basically if I do store.sales or store.cart

- In the first case I expect to work on a normal API (with get, search, update...)
- In the second case I expect to work on a

[2020-05-08 09:58] sbidoul commented on #626
It makes sense to me.

[2020-05-08 10:13] lmignon commented on #626
It makes sense but that means that the "deliveries" service must remain
with "s" and we should not have other services.  That also means that it
would be possible to makes an HTTP GET with an ID into the path....
My concern is that we have some logic into the proxy that relies on the
name of the called service....
lmi

On Fri, May 8, 2020 at 11:58 AM Stéphane Bidoul <notifications@github.com>
wrot

[2020-05-08 11:14] lmignon commented on #626
TO be more specific on my previous response.

IMO:
* the name of the called service should not be interpreted by the proxy
* an analysis of the result could be used to support the pagination.
* the list of singleton services should be limited to 'customer' and 'cart'
* a guideline should explain that service name should use the plural form
except for singleton service.

The last months I've improv

[2020-05-08 11:44] sebastienbeau commented on #626
Ok so it's seem that now we share the same vision ! \o/

The first most important step is to

- explain in the guideline that we should always use plural and only use singular for really rare special case (cart, customer)

- fix the existing API to put plural
   - invoice => invoices : https://github.com/shopinvader/odoo-shopinvader/blob/12.0/shopinvader/services/invoice.py#L21
   - delivery => de

[2020-05-08 11:48] sebastienbeau commented on #626
Regarding the fact of fixing the API, on v10 and v12 I propose to declare two service
- one for the plural
- one for the singular (that will inherit the first one) but deprecated in order to avoid breaking existing customer production.

[2020-05-08 19:09] simahawk commented on #626
wow, I missed a very long thread :sweat_smile:
FWIW I share the same remarks as Laurent and I agree on making it consistent w/ plurals :+1:
Here you have another one https://github.com/shopinvader/odoo-shopinvader/blob/12.0/shopinvader_wishlist/services/wishlist.py#L15 ;)

[2020-06-01 17:45] thomasrockhu opened #690 "Codecov migration to marketplace app"
Hi, Tom from [Codecov](https://codecov.io) here.

We noticed that you are using Codecov with fairly high frequency, and we’re so excited to see that! However, because you are not using our app, you may have experienced issues with uploading reports or viewing coverage information. This is due to rate-limiting issues from GitHub.

**In order to prevent any future outages, we ask that you move over

[2020-06-04 15:48] simahawk commented on #574
Quick wrap up of recent call w/ @sebastienbeau and @thibaultrey .
We are going to simplify this a lot in a way that will be compatible w/ future redis integration (or whatever advanced caching sys we'll have).

On odoo side, we sync on the partner a mapping of product -> wishlist ids and a mapping of whishlist id -> whishlist names. Something like:

[code]
This will be pushed as json on the custom

[2020-07-02 09:56] simahawk commented on #454
done

[2020-07-02 09:56] #454 closed, assigned to nobody

[2020-07-02 10:00] simahawk opened #709 "RFC Filter products by customer"
We need to filter products by customer (eg: products produced / sold only for specific customer).

Easy option: push `partner_ids` (as a list of res.partner IDS) to the product index and filter products by partner id on the search engine.

Tricky option: use filters, sync them to frontend and retrieve allowed products from there.

@sebastienbeau @lmignon @hparfr @Cedric-Pigeon feedback?

[2020-07-17 12:38] hparfr commented on #709
Suggestion: can you base it on price lists ? There is already a lot of logic in price lists to link products against customers.

[2020-07-21 06:48] simahawk commented on #709
@hparfr sounds like a good idea. I'll check this path, tnx!

[2020-08-04 13:28] mileo opened #731 "[Question] Migrate to Graphql"
Hi,

What do you think of using GraphQL instead of rest?

Best Regards

[2020-08-27 14:59] rousseldenis opened #744 "shopinvader_partner_vat: Tests"
@sebastienbeau @PierrickBrun PR's on 10.0 branches are failing due to cassettes tests problems.

Can you check ?

[2020-08-27 15:02] rousseldenis commented on #744
At first sight, I think this is because http VIES service is redirecting now all requests to https.

[2020-08-29 11:03] simahawk opened #747 "Product attributes should have a unique key"
Had to fix attr names used for filters here https://github.com/shopinvader/odoo-shopinvader/pull/727/files#diff-f8197dc0636115bb1408e2c59fcc6dcfR53

IMO relying on attribute names for search engine filters is very fragile and it leads to different filter keys by lang.

[2020-08-29 11:06] simahawk opened #748 "Rename res.partner.address_type to something more meaningful"
`address_type` recall `address` but is actually the type of partner record created in scope of the shop.
I propose we change it in a backward compat way w/ something like `shop_type`.

[2020-08-31 16:34] sebastienbeau commented on #744
I have fixed all branch 10.0/12.0/13.0

[2020-08-31 16:34] #744 closed, assigned to nobody

[2020-09-22 09:20] simahawk opened #779 "[13.0] Missing translations"
@lmignon I've just realized [the commit for v13 migration](https://github.com/shopinvader/odoo-shopinvader/commit/b8fec48e92902880dd53830d0c07c9f154c1b764#diff-0aed17fe4bae2386141d34c1d3a20043) removed all translations from core module. Was it wanted?

[2020-09-22 09:23] lmignon commented on #779
@simahawk :fearful: It's not intentional...

[2020-09-22 09:34] simahawk commented on #779
@lmignon great :sweat_smile:
Would you have time to restore it?

[2020-09-28 10:28] simahawk opened #785 "customer/sign_in: missing header CART_ID in api docs"
When you are anonymous and you put something in the cart you'll get back a CART_ID key for the session.

If you log in - using customer/sign_in - you should pass this key in the headers otherwise the cart won't be assigned to your user.

This is not documented in the customer/sign_in api docs because it relies on the cart service to retrieve the cart.

[2020-09-29 08:11] digitalliuzg opened #786 "AttributeError: module 'odoo.addons.shopinvader_product_stock' has no attribute 'pre_init_hook'"
odoo 12 Install the ShopInvader Product Stock prompt：
AttributeError: module 'odoo.addons.shopinvader_product_stock' has no attribute 'pre_init_hook'

[2020-10-06 08:18] simahawk opened #787 "RFC Services' work context partner should be shopinvader.partner"
The partner in the context should always be the binding (shopinvader.partner) and not the real partner (res.partner).
A partner in the context of shopinvader, must always have a binding otherwise is not even found (except for addresses).
As per products, we often attach information to bindings because they are peculiar to a specific shop/backend.
This would ease lookup of bindings (we don't have t

[2020-10-06 08:49] lmignon commented on #787
@simahawk That makes sens for me.

[2020-10-14 07:25] rousseldenis opened #790 "Backport/Forwardport from 13"
# Fixes to forwardport/backport from 13.0

* [ ] https://github.com/shopinvader/odoo-shopinvader/pull/708 - By @rousseldenis - https://github.com/shopinvader/odoo-shopinvader/pull/791
* [ ] #528 - By @rousseldenis in #791
* [ ] #794 - By @simahawk (for 10.0 ok but for 12.0 #795 is failing)
* [ ] #797
* [ ] #750
* [ ] #801
* [ ] #807
* [ ] #851

[2020-11-10 18:18] rousseldenis commented on #785
@simahawk This is solved using shopinvader_guest_mode.

With this https://github.com/shopinvader/locomotive-shopinvader/blob/v4.0.x/lib/shop_invader/services/erp_service.rb#L194

It returns the good 'customer' key in order to stay 'signed in as guest'.

But you need to change front to implement specific flow for guests.

[2020-11-10 18:21] rousseldenis commented on #555
@sebastienbeau I don't know if this is linked but you cannot log in with two different browsers and get your current cart after second log in.

[2020-11-10 18:21] rousseldenis commented on #17
@sebastienbeau Is this still applicable ?

[2020-11-10 20:02] simahawk commented on #785
@rousseldenis I'm talking only about docs. There's no issue w/ the features. I just reported that the CART_ID should included in docs.

[2020-11-13 10:05] sebastienbeau commented on #17
it's done

[2020-11-13 10:05] #17 closed, assigned to nobody

[2020-12-10 08:26] simahawk opened #827 "Useless demo files in shopinvader_image"
shopinvader_image/demo/product_product_image_relation_demo.xml:1: [W7930(file-not-used), ]  not used from manifest
shopinvader_image/demo/storage_file_demo.xml:1: [W7930(file-not-used), ]  not used from manifest
shopinvader_image/demo/product_image_relation_demo.xml:1: [W7930(file-not-used), ]  not used from manifest
shopinvader_image/demo/storage_image_demo.xml:1: [W7930(file-not-used), ]  not us

[2020-12-10 08:28] simahawk commented on #787
1st step has been done here https://github.com/shopinvader/odoo-shopinvader/pull/817
`invader_partner` is set by the controller in the work context.
Next would be to make all services rely on it where it makes more sense.

[2020-12-10 08:35] lmignon commented on #827
If not used, should be removed...

[2020-12-10 13:50] acsonefho commented on #827
These files have been removed from the manifest in this commit:
https://github.com/shopinvader/odoo-shopinvader/commit/3d3bef62e256495294473a0c60132f8f84c651c4

But they are loaded by the hooks:
https://github.com/shopinvader/odoo-shopinvader/blob/10.0/shopinvader_image/hooks.py#L10

[2021-01-15 09:02] simahawk opened #839 "Impossible to run `shopinvader` tests twice"
[code]
All good, tests pass, BUT see what happens at the end of the tests:
[code]
All attributes are deleted. Then, if you run tests again, you get:
[code]
Then you are stuck and cannot run them anymore.
Am I the only one experiencing this?

@lmignon @sebastienbeau ?

[2021-01-18 13:45] sbidoul commented on #626
Here are guidelines for designing REST API that I found quite good: https://www.gcloud.belgium.be/rest. It includes recommendations about Resource URI, versioning and backward compatibility, error handling and more.

[2021-01-20 09:37] simahawk opened #846 "RFC Enable/disable/validate addresses"
The current implementation relies on the flag `shopinvader_enabled` to state if a profile or an address is usable by the shop or not. It would be nice to have more states (eg: active/inactive/pending) and decide this by backend/shop.

For the profile (aka a user, aka a partner w/ a shopinvader.partner record) it's easy to improve this because we have a backend record tied to it and we know that th

[2021-02-10 23:20] dcoleman-lulzbot opened #882 "Exporting country code with "Synchronize Metadata""
I would like to be able to export the country code from Odoo into the Available Countries field in Locomotive.

![image](https://user-images.githubusercontent.com/71731409/107585195-64457380-6bc3-11eb-9197-c53869983512.png)

My Available Countries in Locomotive looks like this.  The `"code"` for the state is given, could we do the same for the country?
[code]

My use case for this is integrating m

[2021-02-11 07:55] bealdav opened #883 "and meanwhile in cms landscape ..."
Just to share the growing ecosystem of a python cms, wagtail built upon django

https://wagtail.io

https://wagtail.io/features
https://github.com/springload/awesome-wagtail#readme

including elasticsearch, multi websites by default, all django features

https://pypi.org/project/wagtail-headless-preview

A distribution upon wagtail, ~ defined as wordpress killer
https://www.coderedcorp.com/cms

Cl

[2021-02-11 08:38] kevinkhao commented on #883
It seems to me that there is a huge benefit to adopting wagtail:
- [x] great technical documentation and tutorials
- [x] great marketing and big names attached to it
- [x] HYPE
- [x] use Python -> easier adoption for Odoo devs

It's more of a CMS development toolkit than a "real" CMS which from my understanding is what shopinvader needs: not too generic but there's enough to gain time

[2021-02-11 09:00] simahawk commented on #883
IMO if we have to move away from Locomotive we should 1st move to a new JS layer (eg: web components) and 1st rework Locomotive integration on top of this. Then you should be able to replace the app layer as you like.

Regarding the app underneath: IMO we should consider Odoo itself. Especially because we want to push this to the Odoo community. You'll still have 2 services but they will use the s

[2021-02-22 16:18] dcoleman-lulzbot opened #891 "Selling product bundles"
We would like to be able to offer product bundles on our store.  Ideally it would look something like this:

- The bundle would appear on the store as a single product
- The bundle has its own discounted price
- In Odoo, products would show up as their own line items on the order

I guess what I'm describing would ideally be some sort of integration with Product Sets.  I'm thinking this is a featu

[2021-02-24 10:39] bealdav commented on #883
Please @Cedric-Pigeon @lmignon @sbidoul @acsonefho @JordiBForgeFlow @rousseldenis @Laurent-Corron @yvaucher @grindtildeath  could you have a look here ?
A pythonic alternative to Locomotive ?

[2021-02-24 19:56] dcoleman-lulzbot opened #896 "Extremely slow performance when switching shipping methods (Redundant rate_shipment requests)"
We have been using ShopInvader in production for over a month and we have noticed that we are consistently getting long wait times when switching between different shipping methods in the checkout process.  (I should mention this is in the context of a website that is based on [shopinvader-template](https://github.com/shopinvader/shopinvader-template))

From my observation this is caused by naivel

[2021-02-24 20:30] JordiBForgeFlow commented on #896
I believe that we should store the shipping charges in the sale order every time the request for shipping charges is sent, together with the shipping conditions that led to this rate (as a hash). Then next time a request is sent the hash is recomputed and compared. If it is the same, no new request is sent out.

[2021-02-25 11:03] legalsylvain commented on #883
Hi. For the GRAP side, I just migrated from 8.0 to 12.0 and we are interested to deploy some shops with shopinvader technology. One of the blocking point to invest time / money on that project is the language of the shop. I think that using another language than python reduces the adoption of Shopinvader, because Odoo is based on python.

So any movement in this direction would be welcome. :100: :

[2021-02-25 12:11] simahawk commented on #883
Exactly. Good reasons:

* ease inheritance/override of modules and themes
* same tech, same knowledge base, same deployment approach, etc
* strong base for any frontend development given the huge OCA ecosystem
* make OCA adoption easier
* the future of the framework is (even if only partially) in our hands

I made a proof of concept almost 2yrs ago and it was good. I stopped only because time was

[2021-02-25 13:03] bealdav commented on #883
Yes Odoo is an option with all Pros that @simahawk said.
About Cons:
- not free migration path with Odoo websites. Odoo backend migration is already a project in the project
- refreshing websites rhythm might not match with odoo backend project
- [Edit] build web, websites, ecommerce, miscellanous applications or portal not only concern Odoo aficionados, it can be achieved by many other great tool

[2021-02-25 13:28] kevinkhao commented on #883
Some discussions have been going on at Akretion FR for a while about this.

One point to raise is that this is a high-level strategic decision for everyone that uses Shopinvader. If we choose one option for someone's x or y reason, it might not align with everyone who uses it. In the medium term, it seems from a business standpoint we can keep on doing what we do and be fine with Locomotive.

If w

[2021-02-25 13:45] simahawk commented on #883
And? Whatever tech you'll choose, you'll have to deal w/ migration when new major versions come.
Also, you can be completely independent from Odoo websites in terms of templates.

IMO you don't care: potentially you can have backend on 14.0 and frontend on 12.0 as long as they are 2 separated instance -> you won't have to migrate 2 odoo instances when the new shiny Odoo version is released.

I don

[2021-02-25 13:45] sbidoul commented on #883
I personally don't have strong opinions on CMSes. Except that maybe if there are so many of them it could be that the graal has not been found yet, or there are so many competing use cases that can't converge.

The most important thing is the Shopinvader REST APIs must be stable, well documented and easy to use. And not tied to Locomotive.

All improvements in that area will make Shopinvader bette

[2021-02-25 13:52] simahawk commented on #883
I understand the POV of Akretion :)
In any case, we should consider improving this thing. Locomotive is for many aspects very fragile.
Not to mention is a pain in da neck to keep templates in sync (fixes, new features, etc).

From my POV the only key selling point are: live / fast deploy, theme design w/out full stack. The rest is something that you can get from any modern and light CMS out there.

[2021-02-25 14:42] rvalyi commented on #883
Hello, a few considerations:

I know the web and CMS very well myself (not the case of all people coming from the ERP world). I think there is a couple of issue to worry about with LocomotiveCMS: basically it is not as active as it was and MongoDB is holding its adoption back nowadays. Fixing that has a cost for sure. But eventually that cost is not more than the other options.

May be first, I sh

[2021-02-26 08:22] arthru commented on #883
As ColdCMS is mentionned here, I can add a few things about it.

ColdCMS is based on wagtail and offers to build a static website from a wagtail admin. It has some basic pages defined (landing page, blog, faq, etc...), with templates based on Bulma CSS.
It is still in its early life, but at hashbang.coop, we are willing to improve it a lot this year (we received many orders to build websites with

[2021-02-26 08:59] simahawk commented on #883
@rvalyi I come from the CMS world and I've worked on this subject for more than 10yrs. Always python, always OSS.
I've worked w/ all kind of templating engines (ZPT, Chameleon, Django tmpl, Jinja, Mako, Genshi, etc as well as JS templates, not to mention QWeb). I've built a lot of whole themes from scratch, even w/ Odoo.

All templating engines have their pros and cons but I'd not choose a CMS bec

[2021-02-26 09:19] bealdav commented on #883
https://github.com/GrappleGQL/gatsby-source-wagtail#readme

[2021-02-26 17:26] rvalyi commented on #883
Hello @simahawk inline answers:

3 for me at Smile but did a few other websites later, several other years with Rails. What I mean is that not everybody coming from the ERP field understands well the web and CMS requirements to be productive.

[...]

I agree with that and I think I wrote nothing different. That being said, Liquid benefits from a massive investiment from Shopify:

- You have perfor

[2021-03-01 12:58] bealdav commented on #883
Ok @rvalyi,  then if I want to evaluate Odoo, do you advise me to only look into https://github.com/odoo/odoo ? not https://github.com/OCA ?
Wagtail benefit of django native plugins mechanism then many extensions in many repos https://github.com/search?p=1&q=wagtail&ref=opensearch&type=Repositories.

[2021-03-03 11:35] david-popa opened #906 "[RFC] Urchin Tracking Module (UTM)"
Adding UTM parameters (campaign, medium, source) as non required fields when a new sale order is created
to better understand from where the client is coming from. Those parameters would be added in the Reporting section on a
sale order or an invoice.

I would like some feedback before starting the development of this feature.

[2021-03-04 07:18] simahawk commented on #891
Product Sets are used for having per customer predefined list of products (eg: wishlist, which is already integrated here).
Your requirement seems more related to group of products or packs. You could have a look at https://github.com/OCA/product-pack/tree/13.0. If those modules cover the use case you'd need to integrate them here.

[2021-03-04 07:20] simahawk commented on #896
I've done something similar [here](https://github.com/shopinvader/odoo-shopinvader/blob/13.0/shopinvader_image/models/shopinvader_image_mixin.py) for images. Definitely a game changer :)

[2021-03-04 07:21] simahawk commented on #846
Partially done in https://github.com/shopinvader/odoo-shopinvader/pull/847

[2021-03-04 07:22] #24 closed, assigned to nobody

[2021-03-04 07:25] simahawk commented on #205
https://doc.shopinvader.com/docs/architecture

[2021-03-04 07:25] #205 closed, assigned to nobody

[2021-03-04 07:26] simahawk commented on #220
@hparfr still valid?

[2021-03-04 07:26] simahawk commented on #221
@hparfr still valid?

[2021-03-04 07:26] simahawk commented on #20
still valid?

[2021-03-04 07:26] simahawk commented on #40
still valid?

[2021-03-04 07:26] simahawk commented on #128
still valid?

[2021-03-04 07:26] simahawk commented on #163
still valid?

[2021-03-04 07:27] simahawk commented on #222
still valid?

[2021-03-04 07:28] simahawk commented on #244
still valid?

[2021-03-04 07:28] simahawk commented on #269
still valid?

[2021-03-04 07:29] simahawk commented on #427
still valid?

[2021-03-04 07:29] #473 closed, assigned to nobody

[2021-03-04 08:57] hparfr commented on #220
Yes still valid, but if there is no adherence it will stay in the bottom of the todolist :)

[2021-03-04 08:58] #221 closed, assigned to nobody

[2021-03-12 13:53] simahawk opened #915 "RFC Delete user on frontend when partner archived in Odoo"
Any thoughts?

[2021-03-12 16:38] dcoleman-lulzbot opened #916 "/invader/cart/add_item does not check stock state"
The `/invader/cart/add_item` endpoint does not perform a check against the stock state.  A stock state check only exists on the frontend.  This means it is possible to run into a situation like this:

1. The user loads a store page
2. That product goes out of stock, but the user keep the product page open in their browser
3. The user then clicks the "add to cart button", adding that product to the

[2021-03-12 17:00] JordiBForgeFlow commented on #916
@hviorforgeflow

[2021-03-16 13:50] rbravo86 opened #920 "Open cart qty and stock are not synchronized"
**Cart duration:** 2days
**Initial Product qty:**  10

1. User A: Add a product to cart with qty 10 ( and leave the website til next day)
2. User B: purchased the same product qty 6
3. The next day, user A cart will still have qty 10 although the remaining stock is 4

[2021-03-22 19:04] dcoleman-lulzbot opened #921 "Parent categories are not marked for update when a child category is created"
When a new child category is created, that child category's sync state is set to "To update", but the parent category is not.  The parent category's elastic document contains references to all of its children in the `childs` field, so it should be updated as well.

For example, I have this category, Accessories
![image](https://user-images.githubusercontent.com/71731409/112036424-9c1ecf80-8b0e-11e

[2021-03-23 12:26] HviorForgeFlow opened #923 "[13.0] shopinvader_image: Keep original url_key if found in product(categories)"
My use case is the next: I have a database + filestore with all images from products as storage images. I didn't take the default sluglify display_name that shopinvader adds by default. In particular I used (internal reference)-tag_image-(*optional variant_id).

I noticed that `shopinvader_image` module are generating thumbnails taking sluglify display_name, but I would like to keep my filename +

[2021-03-26 07:49] rousseldenis opened #926 "Migration to v14"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

* [x] base_url
* [ ]  connector_generic
* [ ] connector_locomotivecms
* [ ]  partner_contact_company
* [ ]  product_media
* [ ]  product_online_category
* [ ]  product_rating
* [ ] product_stock_state
* [ ]  product_tag
* [x]  shopinvader
* [ ]  shopinvader_algolia - By @PierrickBrun - #856
* [ ]

[2021-03-29 07:39] bealdav commented on #883
It seems that https://www.jpl.nasa.gov is an **headless** site

![Selection_188](https://user-images.githubusercontent.com/1853434/112802222-397b8580-9072-11eb-9d09-096445bdfe17.png)

It lead them to get Mars

[2021-03-29 07:49] simahawk commented on #883
If we go headless I'd evaluate tools like https://directus.io/ which seems cool or https://github.com/strapi/strapi or similar.
This way you simply provide an admin interface and keep the website/design separated. Up to you what you want to use.
Then I'd move all relevant functional features to a vanilla JS lib (eg: `invader.orders.get()`, `invader.cart.get()`, etc)

[2021-03-29 08:29] lmignon commented on #883
Hi Simone,

For our future Shopinvader project, we are seriously considering a new
stack for the development of the frontend. At first, we imagined offloading
Locomotive from the authentication part and implementing a JS component for
the cart management. After a discussion with Akretion and the presentation
by Thibault and Sebatien of the Jamstack, we imagine going even further by
removing Locomo

[2021-03-29 19:42] bealdav commented on #883
The graal (probably not realistic) could be to have one a cms content managed potentially by different CMS (content generator).
As there is a lot of cms, they could be selected if they can share settings (css, etc) to produce a similar headless content.
#chooseyourown #illusion #wecandream

[2021-03-30 07:18] simahawk commented on #883
Salut Laurent,

Let's talk about it! Would be nice to have a sprint and maybe a preliminary brainstorming call in, say, 1 or 2 months from now

I've talked yesterday w/ @sbidoul and he'll send a proposal.

[2021-03-30 09:07] simahawk commented on #923
@HviorForgeFlow in theory you should change the method to consider your attributes, then recompute the hash for all those records so that is not recomputed. Then, change `_get_image_url_key` to use those attributes.

[2021-03-30 18:01] HviorForgeFlow commented on #923
Yes! sorry that day I was so obfuscated :smile:

[2021-03-30 18:01] #923 closed, assigned to nobody

[2021-04-02 13:30] david-popa opened #938 "[RFC] Shopinvader rating module"
We’re adding a product rating functionality in Shopinvader using the already available rating module (with mixin) from Odoo and we’ve identified 3 possible solutions that can extend the functionality beyond the product rating (partner rating, etc.):

1. Create another module for every model (shopinvader_rating_product, shopinvader_rating_partner, ...)

[code]
2. Create only one module and add endp

[2021-06-16 12:43] simahawk opened #993 "[all versions] shopinvader: wrong delivery state"
ATM the state is hardcoded here https://github.com/shopinvader/odoo-shopinvader/blob/14.0/shopinvader/models/sale.py#L38 but seems wrong most of the time because when the order is done but not shipped yet, you already get "shipped".

The good solution seems to use https://github.com/OCA/sale-workflow/pull/1372.

@PierrickBrun any plan to integrate it here?

[2021-06-17 11:46] simahawk commented on #938
IMO opt 3 would offer more flexibility.

[2021-06-17 14:17] sebastienbeau commented on #993
I agree !

[2021-07-02 13:17] simahawk opened #999 "[RFC] Multiple carts per user"
**Requirement:** have the possibility to handle multiple carts per user.
**Use case:** I can prepare different carts for different dates at the same time
**Usage:**
* I can go to `/cart/list` and see the list of my carts
* I can select a cart (call `/cart/select`, change session cart ID)
  * shall we call `customer._assign_cart_and_get_store_cache`?
  * when the order is selected shall we recomput

[2021-07-05 07:58] sebastienbeau opened #1000 "ObjectID"
For historical reason we have an "ObjectID" field in the index (algolia specific need)

- "ObjectID" = id of the odoo record (this was used by aloglia as key for update*)
- "id" = id of the binding

* we choose as key for the index the id of the record so if you delete and recreate a binding the id is always the same in the index and if something goes really wrong as it's the same id an update wil

[2021-07-05 08:22] thibaultrey commented on #1000
Ahhh great initiative, it's time to tackle this issue. So if I understand correctly, in a first step, depreciate objectId and Id would have the same value right kthe record id) ?

Do we have some api action who accepts only binding ID in parameters for now ?

[2021-07-05 08:46] sebastienbeau commented on #1000
We do not have api that use the "binding id" so we can remove it and then put the value of "objectID" into the key "id"

[2021-07-05 10:33] simahawk commented on #1000
* in search engine `_record_id_key` should be set to `id` by default and we should include _record_id_key automatically (right now `id` [is added](https://github.com/OCA/search-engine/blob/796fdf9144dbe096d4cb9398427db63708d419d8/connector_search_engine/components/mapper.py#L24) but that could be wrong or useless, for algolia at least)
* here, we should remove completely `id` and/or `objectID` fro

[2021-07-05 10:34] simahawk commented on #1000
the only drawback of this would be that the json stored won't include the external ID but I think it's not a problem. Actually we avoid storing something useless...

[2021-07-05 15:11] sebastienbeau commented on #1000
It's ok for me.

- removing the id logic in ir.exports
- adding them automatically in search engine using the _record_id_key

I will do a PR in search engine/elastic/algolia and in shopinvader.

Did I remove totaly the key objectID (this will be a breaking change ? but V14 is a new version so we can add this in the changelog?)

Note for algolia this required field can be added automatically, for a

[2021-07-05 15:16] simahawk commented on #1000
`objectID` is still required for algolia, no?

[2021-07-08 08:47] sebastienbeau commented on #999
@thibaultrey

[2021-07-08 09:26] thibaultrey commented on #999
In order to respect the plural form already used for sales, addresses etc I think it's more clear to do :
- `/carts/` to get user's carts list,
- `/carts/$id` to get saved cart lines,
- `/carts/$id/select` to select the cart and get it on /cart endpoint
- `/carts/$id/delete` to delete it

For me, plurals nouns give a good overview if this endpoint provides a list or only one item.

[2021-07-08 09:51] simahawk commented on #999
I thought to extend the base cart service but it makes sense to add a new one :+1:

[2021-07-08 10:10] sebastienbeau commented on #999
It's ok for me
You can do a module "shopinvader_multi_cart"

[2021-07-08 10:21] simahawk commented on #504
See https://github.com/shopinvader/odoo-shopinvader/issues/993

[2021-07-08 10:21] #504 closed, assigned to nobody

[2021-07-09 20:07] sebastienbeau commented on #1000
yes, but I will only push it for algolia and set the same value as id.
So in the templating we always use the key id (for all search engine) and we only have this extra key objectId that we just do not use in the templating

[2021-07-13 21:12] mileo opened #1021 "Only works with oca/server-tools/onchange_helper==12.0.1.0.0"
If you upgrade your onchange_helper to 12.0.1.0.1 you will get this error when you try to add a item to the cart.

[code]

[2021-07-16 21:59] sebastienbeau opened #1026 "url key redirection is broken on V14 for the categories"
I think we miss some change on V14 like this one
- https://github.com/shopinvader/odoo-shopinvader/commit/63330ed56b00900b2d9ee8e92f9799005f4386d7 (but the api have changed so it can not be the same solution)
And maybe it's related to the odoo orm change

In any case it's broken

Note :  it's not broken on product due to the following code : https://github.com/shopinvader/odoo-shopinvader/blob/14.

[2021-07-22 13:40] #999 closed, assigned to nobody

[2021-07-23 20:02] sebastienbeau opened #1041 "Odoo rounding issue in index ...."
When having some specific value in float the odoo rounding do weird stuff see https://gist.github.com/odony/5269a695545902e7e23e761e20a9ec8c

Let's start with a simple solution (version 1 of odony proposition)

Then I think in a long terme we should store the right thing in json (Version 3 odony proposition) and then export this json without any dump/load using directly the text field

[2021-07-30 03:25] kevinkhao opened #1050 "Swagger UI does not correctly display routes"
This is potentially related to the latest changes in rest-framework. This is Swagger UI for shopinvader by itself:

![Screenshot from 2021-07-30 05-03-17](https://user-images.githubusercontent.com/19902174/127595382-aa69acf2-49dc-4334-9e0f-e6d08faef4f2.png)

This is Swagger UI for shopinvader_auth_api_key:

![Screenshot from 2021-07-30 05-02-24](https://user-images.githubusercontent.com/19902174/1

[2021-07-30 06:04] simahawk commented on #1050
@lmignon could you check?

[2021-07-30 06:09] lmignon commented on #1050
I'll check.

[2021-07-30 06:23] lmignon commented on #1050
@kevinkhao @simahawk fixed in #1051

[2021-07-30 06:59] #1050 closed, assigned to nobody

[2021-07-30 09:40] kevinkhao opened #1053 "Swagger UI doesn't include API-KEY field"
* use https://github.com/shopinvader/odoo-shopinvader/pull/1052
* install shopinvader_auth_api_key
* check swagger, here is the result

![Screenshot from 2021-07-30 11-39-40](https://user-images.githubusercontent.com/19902174/127634404-ee4d9303-abad-473c-b029-2276b6e22db5.png)

[2021-07-30 09:59] lmignon commented on #1053
The authentication info into swagger is now provided by a  glue module between base_rest and the authentication mechanism used. In the case of shopinvader_auth_api_key, you should install https://github.com/OCA/rest-framework/tree/14.0/base_rest_auth_api_key. Once installed, you'll have the api_key info swagger. Moreover, on each method, you'll see the authentication method required by the method.

[2021-07-30 09:59] #1053 closed, assigned to nobody

[2021-07-30 10:02] kevinkhao commented on #1053
@lmignon I understand, thanks for the info

[2021-08-04 08:21] rousseldenis opened #1058 "elasticsearch >= 7.14 is causing problems"
@simahawk @sebastienbeau Tests are failing on 14.0 as elasticsearch has been updated to 7.14.

Tested with 7.13.4 without problems.

Shouldn't we limit version until we find what are the changes ?

[2021-08-04 08:22] rousseldenis commented on #1058
Release notes:
https://github.com/elastic/elasticsearch-py/commit/03125705a527d238d126e991de76889b99338b34

[2021-08-06 07:20] #1058 closed, assigned to nobody

[2021-08-10 17:36] sbidoul opened #1066 "[14.0] duplicate key value violates unique constraint "product_product_combination_unique""
I get this error when updating the `shopinvader` module in 14.0:

[code]

There are exotic things going on in https://github.com/shopinvader/odoo-shopinvader/blob/14.0/shopinvader/demo/product_product_demo.xml (WTH it this `<function>` tag ?) which I don't quite grok.

Does anyone know something about it ? @sebastienbeau may be as you touched that part recently ?

[2021-08-10 18:10] sbidoul commented on #1066
Related to https://github.com/shopinvader/odoo-shopinvader/pull/936 ?

[2021-08-10 19:15] sebastienbeau commented on #1066
I will look at it tomorrow

[2021-08-11 08:47] sebastienbeau commented on #1066
Note the function have been added here : https://github.com/shopinvader/odoo-shopinvader/pull/503/files#diff-a29a2e3914f7f47c2038ccd93e0179e89f6f50d7e0451636f45de655ab42dc35

[2021-08-11 09:04] sebastienbeau commented on #1066
can you test my fix  : https://github.com/shopinvader/odoo-shopinvader/pull/1067 ?

[2021-08-11 11:18] #1066 closed, assigned to nobody

[2021-08-18 10:04] sbidoul opened #1075 "HTTP status 404 when authenticated partner is not found: is this what we want ?"
When using [auth_api_key](https://github.com/shopinvader/odoo-shopinvader/blob/ad4ec9dbba3a9658516c7bfd7b911d24b2c55aba/shopinvader_auth_api_key/components/service_context_provider.py#L39) and now [auth_jwt](https://github.com/shopinvader/odoo-shopinvader/blob/ad4ec9dbba3a9658516c7bfd7b911d24b2c55aba/shopinvader_auth_jwt/components/service_context_provider.py#L41), the service context provider rai

[2021-09-11 18:55] Mat-moran opened #1098 "[14.0] `'shopinvader.backend' object has no attribute 'auth_api_key_id'`"
Hi,

I am starting with shopinvader, I have configured:

- Algolia backend
- Locomotive server
- Odoo server in version: 14.0

When pressing the ` Reset site settings` or `Synchronize Metadata` I get the following error related with this code

[code]
In this part of the code
https://github.com/shopinvader/odoo-shopinvader/blob/c19e519e37cba2d3aea08d1cbdbf682e3070e928/shopinvader_locomotive/compone

[2021-09-13 05:37] simahawk commented on #1098
@Mat-moran you got it :) The API key part has been refactored out of the base module recently but `shopinvader_auth_api_key` has not been added as dependency to `shopinvader_locomotive`.

I've just opened #1099 on the fly. Should fix it.

[2021-09-13 09:29] Mat-moran commented on #1098
Thanks @simahawk I close the issue then.

[2021-09-13 09:29] #1098 closed, assigned to nobody

[2021-09-13 14:20] rousseldenis opened #1100 "[14.0] shopinvader_invoice: Restore initial service"
To not break initial services, I propose to restore invoice state with a mapping for 'posted' => 'open' and to add payment_state as a separate entry.

[2021-09-13 15:57] Mat-moran opened #1102 "[14.0] Unable to connect Odoo backend with locomotive server (neither test the api)"
Hi I am having troubles connecting Odoo with Locomotive server.

I have everything set-up, also I can see the binded products in Algolia but I can not connect odoo with Locomotive.  With respect to the locomotive an odoo connection I have set-up:

- The Administrator `Api Key` in `Settings > Technical > Auth Api Key` and I have selected it in the shopinvader backend.
- The `email`, `Locomotive's a

[2021-09-14 10:26] Mat-moran commented on #883
Hi :smile:

Did you have this preliminary brainstorming?, Any news on this thread?

[2021-09-15 14:56] rousseldenis commented on #1098
@simahawk I think something different should be done as auth method could be something else.

I thought about a generic method to export auth_details or something like that.

@lmignon

[2021-09-15 15:08] lmignon commented on #1098
@rousseldenis At this stage only auth_api_key is supported and required by locomotive....

[2021-09-15 15:22] rousseldenis commented on #1098
Yes, indeed, I thought about that just after writing.

[2021-09-20 22:49] Mat-moran commented on #1102
I think I am going to leave Locomotive aside... Closing the issue.

[2021-09-20 22:49] #1102 closed, assigned to nobody

[2021-09-21 06:07] simahawk commented on #1102
@Mat-moran how have you set up the services? Using `docker-compose`?

[2021-09-22 08:57] Mat-moran commented on #1102
Hi @simahawk thanks for the reply.

Not, I was using a server for Odoo and other for Locomotive.

[2021-09-22 13:51] simahawk opened #1111 "Tests broken because of openupgradelib change"
@sbidoul now that you've made possible to [autopublish openupgradelib on pypi ](https://github.com/OCA/openupgradelib/pull/243) (tnx!!) we have an issue here.

See https://github.com/shopinvader/odoo-shopinvader/pull/1110/checks?check_run_id=3675845704#step:4:68
[code]
AFAIS is needed only for py < 3.8 and here we still have 3.6.

1. I don't think it should fail
2. I think we should move to py3.8

[2021-09-22 13:57] Mat-moran opened #1112 "[14.0] Unable to fetch the API with fetch() | CORS problem | [SOLVED]"
Hi,

I am trying to fetch the shopinvader API with `fetch()` from a front end based on React. Odoo server in an AWS instance behind a nginx proxy and executing `fetch()` locally during development. The problem is that I can not fetch the API. __ONLY with postman__  without any problems I am able to reach the endpoint and get a valid json response but when I try to use `fetch()` I am obtaining  the

[2021-09-22 15:49] sbidoul commented on #1111
This should be fixed by now.

[2021-09-23 07:48] jbaudoux opened #1114 "[13.0] [14.0] No partner duplicate setting always shown as enabled"
If there is no ir.config.parameter for "shopinvader.no_partner_duplicate", duplicate partner emails are allowed.
As nothing ensure to put such value at module install (or update), by default duplicates are allowed.
As there is a default on the config settings Boolean set to True, the setting will always be shown as enabled while it could be in fact disabled.
Note: on a config setting, when a Boole

[2021-09-23 07:54] simahawk commented on #1111
@sbidoul thanks a lot, it works now!

[2021-09-23 07:54] #1111 closed, assigned to nobody

[2021-09-23 13:37] ivantodorovich commented on #1114
Hello! Indeed this is wrong

Anyway the default=True comes back from https://github.com/shopinvader/odoo-shopinvader/commit/bf75c3f8a0746d2155479f45417365e5f9097d94

Fixes here:
- [ ] https://github.com/shopinvader/odoo-shopinvader/pull/1116
- [ ] https://github.com/shopinvader/odoo-shopinvader/pull/1117

[2021-09-23 14:03] Mat-moran commented on #1112
A little update to this from my side.

### CORS problem "Solved"

The CORS problem seems to be a typical problem when you configure an api behind an inverse proxy. You need to tell the inverse proxy how do you want to treat CORS (stands for Cross-origin resource sharing), basically you can select, among other things, fot what origings you give acces.
I solve the problem using this inside the locat

[2021-09-24 08:40] simahawk opened #1120 "travis_delete_algolia_index still needed for v14?"
https://github.com/shopinvader/odoo-shopinvader/blob/14.0/.travis/travis_delete_algolia_index

[2021-09-24 11:21] Mat-moran commented on #1112
Finally I found the solution :smile: .

There was two problems one related with odoo and the other with the nginx configuration.

## Odoo configuration problem
If you have multiple databases it only work if you launch odoo with `-d` flag pointing to the database you want to source or put `db_name` in your config file. If I do not do that CORS still giving error and having a erratic behavieour.

##

[2021-09-28 14:25] #1114 closed, assigned to nobody

[2021-10-02 09:04] Mat-moran opened #1126 "RFC Required fields during res.partner creation"
Hi,

I woulld like to know what do you think about making the required fields in `customer/create` not required. In order to give more freedom to the fronted development. This is imposing a certain logic during Sign Up, that I think it is not the best option.

From my POV  the logic should be as open as possible. This logic can be apply in the front end form. For example when you create a contact

[2021-10-04 08:13] #1112 closed, assigned to nobody

[2021-10-06 06:42] sebastienbeau opened #1133 "Use widget boolean_toggle instead of button toogle_active in product.template view in the binding tab"
using this new widget will give a better UI experience
![image](https://user-images.githubusercontent.com/1164578/136152881-6c317320-339f-4b61-bfe7-0505f2a50395.png)

[2021-10-06 06:43] sebastienbeau commented on #1133
Also when we create a binding the binding is inactive by default we have to fix it, it should be active by default

[2021-10-08 10:46] kevinkhao commented on #1133
https://github.com/shopinvader/odoo-shopinvader/pull/1134

[2021-10-21 19:59] #1133 closed, assigned to kevinkhao

[2021-10-21 20:00] #1026 closed, assigned to nobody

[2021-10-21 20:00] #1000 closed, assigned to nobody

[2021-11-06 11:40] Mat-moran opened #1162 "Get all the carts, sales, addresses or invoices related with a client"
Hi,

Is there a way to get all the items related with the client for a specific model??

For example in the case of the cart I need to pass always the 'SESS-CART-ID' to all endpoint available to get; or operate with the item related with this ID. If I need to get the list of all the carts open by a customer, how I can do that?

The same happens with the sales for example...

Am I misunderstanding

[2021-11-06 11:51] Mat-moran commented on #1162
OK I see that this methods are in modules that I have not installed.

[2021-11-06 11:51] #1162 closed, assigned to nobody

[2021-11-09 15:30] Mat-moran commented on #1100
I was going to put an issue because the `.../invoices` and `.../invoice` endpoints only give the invoices with the `payment_state_label = Paid`.

It is something related with this?

It is a bug or it is the expected behaviour?

[2021-11-13 11:37] Mat-moran opened #1176 "[14.0] [BUG] `SHA hash` filename strategy gives in certain scenarios an error recomputing product --> `storage_file_path_uniq`"
Hi,

did you suffer this strange error?.
[code]
The error is a failed recompute job of the binded products to export to algolia. When I check the file, I do not have this record duplicated. This error should occur during the creation or assignation of the image to a backend not? why is this happening in a recompute job?.

The complete traceback pushing the `recompute` button in the shopinvader bac

[2021-11-15 11:19] Mat-moran commented on #1176
Hi, good morning.

I have identify the problem.

Its occurs when you assign the same Image to different items. It is that done in pourpose, or is a bug in the code?

IMO there is a bug, images can be use in different products for example you can have a pack of  products that share images with the different products that are in the pack.

what do you think?

[2021-11-15 14:52] Mat-moran opened #1178 "Other opoen source search engine"
Searching google I found this search engine.

I am already using algolia because it is very simple to use and they have a very great admin experience, but this seem very nice  search engine too an is open source.

Just to let you know this one.

https://typesense.org/

[2021-11-16 07:04] simahawk commented on #1178
Thanks for reporting this. Could you move it to https://github.com/OCA/search-engine/ ?

[2021-11-16 07:04] #1178 closed, assigned to nobody

[2021-11-18 10:10] Mat-moran commented on #1176
Hi,

its happend also in other scenarios not only assigning the same image to different product. For example I try to add 2 new resizes for my images, it works well for the first but give me the same error for the second one.

__Changing the filename strategy__ in the backend from `SHA hash` to `Name and ID`  seems to solve the problem, so __should be something wrong with `SHA hash` filename strat

[2021-11-18 12:31] Mat-moran commented on #1178
Done

[2021-11-29 10:04] Mat-moran opened #1186 "[14.0] How to create a new address inside the partner"
Hi,

I am trying to create a new address inside the partner, for example an address with type `delivery` and other with type `invoice`, but when I pass the dictionary to the `/create` endpoint its always create a new address not related with the actual partner.

Am I doing something wrong? or it is not posible. I am passig also the `parent_id` and the `address_type=address`.

Thanks in advance :sm

[2021-12-02 15:47] #530 closed, assigned to nobody

[2022-02-14 14:39] Mat-moran opened #1230 "[BUG] `/carts` return empty list [] after PR #1173 was merged"
The `/carts` endpoint is broken after commit 8a092d43db99d9453fdc313cdfaec58366d96d9b. Now it return an empty list.

[2022-02-14 14:48] Mat-moran commented on #1230
I see it is because of the new `typology` field right? I am going to do further investigation...

[2022-02-14 14:48] #1230 closed, assigned to nobody

[2022-02-15 21:38] Mat-moran opened #1233 "[14.0] shopinvader_multi_cart `cart/add_item` create a new order if `typology=saved`"
Hi,

after #1173 the endpoint `cart/add_item` does not work as expected, it creates a new order if field `typology=saved`.

It should be something related with `typology=saved` in the endpoint `cart/add_item` because if the cart is not in this state it work as expected.

[code]

[code]

typology domain should be `"typology", "in", ["cart", "saved"]` right? do you accept a PR in this direction or a

[2022-02-16 06:10] simahawk commented on #1233
AFAIK you must "select" the cart before using it https://github.com/shopinvader/odoo-shopinvader/blob/14.0/shopinvader_multi_cart/services/carts.py#L38

CC @ivantodorovich

[2022-02-16 06:10] #1233 closed, assigned to nobody

[2022-02-16 06:38] Mat-moran commented on #1233
Thanks @simahawk

[2022-02-24 11:40] Mat-moran commented on #1186
it is working fine now.

[2022-02-24 11:40] #1186 closed, assigned to nobody

[2022-03-03 11:58] qgroulard opened #1249 "Public wishlists"
Many eshops feature a share wishlist mechanism.
Allowing other people to visualize your wishlist via an url.

I am trying to achieve that with shopinvader, but I cannot access wishlist without passing the header PARTNER-EMAIL.
Is there a way to publicly get wishlists ?

[2022-03-09 07:12] simahawk commented on #1249
ATM to get a wishlist you need a backend and a customer.
In fact the `partner_id` on `product.set` is not required and you could play with this domain https://github.com/shopinvader/odoo-shopinvader/blob/14.0/shopinvader_wishlist/services/wishlist.py#L282.
We could have flag on the backend to allow public wishlists.
Then you have to change this https://github.com/shopinvader/odoo-shopinvader/blob/

[2022-03-09 09:51] qgroulard commented on #1249
Hi @simahawk
Thanks for the answer.
Actually I still want the wishlists to belong to a customer.
One possible use case would be:

I like reading books.
I create a wishlist on a famous eshop with books that I'd like to read.
This wishlist belongs to me and I can access it on my profile.
I get a link to share with my family and friends so that they can get access to my wishlist.
My wife clicks on th

[2022-03-09 11:54] simahawk commented on #1249
Hmm I see. Then you should use some sort of token to allow sharing / viewing it as the portal does.

[2022-03-15 07:02] cramosh opened #1257 "Send email notifications"
When shopinvader must detect the Cart Confirmation to send the mail. At what point does the action jump?

[2022-03-22 12:47] Mat-moran opened #1260 "How to confirm a cart?"
Hi I am trying to find how to confirm a cart but I can not find anything about that.

How do you validate a cart when the customer click checkout?

Thanks in advance.

[2022-03-22 12:56] HviorForgeFlow commented on #1260
take a look on sale_automatic_workflow

[2022-03-22 15:50] Mat-moran commented on #1260
It is an awesome module, very very nice.

Combining it with the `base_automation` it is possible to apply the workflow to the orders created from a specific backend.

Thanks!

[2022-03-22 15:50] #1260 closed, assigned to nobody

[2022-03-22 15:53] Mat-moran commented on #1257
It is done with the `sale_automation_workflow` in combination with the `base_automation`.

With the first you can define the automatic actions of your workflow, for example cart confirmation when the cart is in an specific step.

With the second you can assign automatically this workflow to a certain orders for example with a specific backend on creation.

[2022-07-12 13:05] cramosh opened #1312 "[14.0] [BUG] Fail to unbind Shopinvader Variants"
Problem to unbind Shopinvader Variant

- As you can see in the next images, the `record_id` (related produt) field is `null` in the `shopinvader.variant.unbinding.wizard` model.

![image](https://user-images.githubusercontent.com/34350771/178495663-9f5a2a91-7b46-4054-9e0d-a72604923443.png)

![image](https://user-images.githubusercontent.com/34350771/178495741-6576f5e6-f8a4-4c23-98f5-2edf829a3b60.p

[2022-08-17 09:41] #244 closed, assigned to nobody

[2022-08-17 09:42] #322 closed, assigned to nobody